


    <div class="mycontainer">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header-section clearfix">
                    <div class="pull-left">
                        <ol class="breadcrumb-new">
                            <li><a href="#">Dashboard</a><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></li>
                            <li><a href="#">Operations</a><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></li>
                            <li><a href="#">IT</a><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></li>
                            <li class="active"><span>Asset Management</span></li>
                        </ol>
                        <h1>Asset Management</h1>
                    </div>
                    <div class="pull-right">


                    </div>
                </div>
            </div>
        </div>


        <div class="row center-block">
            <div class="col-md-12">
                <div class="panel-box">
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-title">Manage Asset</span>
                        </div>

                        <div class="panel-body">

                            <div class="mytabs">
                                <div id="mytabs" class="tabs">
                                    <ul>
                                        <li><a href="#tabs-1">Asset Category</a></li>
                                        <li><a href="#tabs-2">Asset Addition</a></li>
                                    </ul>
                                    <div id="tabs-1">
                                        <div class="attach-box clearfix">
                                            <div class="pull-left">
                                                <div class="attach-box-inner">
                                                    <span class="attach-title">Manage Attachment:</span>
                                                    <ol class="attach-links">
                                                        <li><a href="#">File name</a></li>
                                                        <li><a href="#">File name</a></li>
                                                        <li><a href="#">File name</a></li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-sm custom-btn">
															<span class="glyphicon glyphicon-paperclip"></span>Attach file
														</button>
                                            </div>
                                        </div>
                                        <form class="form-horizontal" role="form">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="MainCategory" class="col-md-3 control-label">Main Category</label>
                                                        <div class="col-md-8">
                                                            <select class="form-control" id="MainCategory">
																  <option selected="selected">IT Hardware</option>
																  <option>IT Software</option>
																  <option>Option 3</option>
																</select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="SubCategory" class="col-md-3 control-label">Sub Category</label>
                                                        <div class="col-md-8">
                                                            <select class="form-control" id="SubCategory">
																  <option selected="selected">Desktop</option>
																  <option>Option 2</option>
																  <option>Option 3</option>
																</select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-9 col-sm-6 col-xs-12 col-md-offset-3">
                                                            <button type="button" class="btn">Cancel</button>
                                                            <button type="submit" class="btn btn-primary">Submit</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div id="tabs-2">
                                        <div class="attach-box clearfix">
                                            <div class="pull-left">
                                                <div class="attach-box-inner">
                                                    <span class="attach-title">Manage Attachment:</span>
                                                    <ol class="attach-links">
                                                        <li><a href="#">File name</a></li>
                                                        <li><a href="#">File name</a></li>
                                                        <li><a href="#">File name</a></li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-sm custom-btn">
															<span class="glyphicon glyphicon-paperclip"></span>Attach file
														</button>
                                            </div>
                                        </div>
                                        <form class="form-horizontal" role="form">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="AssetID" class="col-md-3 control-label">Asset ID</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="AssetID" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="MainCategory" class="col-md-3 control-label">Main Category</label>
                                                        <div class="col-md-8">
                                                            <select class="form-control" id="MainCategory">
																  <option selected="selected">--none--</option>
																  <option>Option 2</option>
																  <option>Option 3</option>
																</select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="SubCategory" class="col-md-3 control-label">Sub Category</label>
                                                        <div class="col-md-8">
                                                            <select class="form-control" id="SubCategory">
																  <option selected="selected">--none--</option>
																  <option>Option 2</option>
																  <option>Option 3</option>
																</select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="CreateDate" class="col-md-3 control-label">Acquisition Date</label>
                                                        <div class="col-md-8">
                                                            <span class="input-icon icon-right">
															  <input type="text" class="form-control" id="CreateDate" placeholder="Date">
															  <i class="glyphicon glyphicon-calendar calendar"></i>
															  </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="AssignedTo" class="col-md-3  control-label">Assigned To</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="AssignedTo" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="SerialNo" class="col-md-3 control-label">Serial No.</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="SerialNo" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Group" class="col-md-3 control-label">Group</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="Group" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="notes" class="col-md-3 control-label">Description</label>
                                                        <div class="col-md-8">
                                                            <textarea class="col-md-12 form-control  col-xs-12" cols="20" id="notes" name="notes" rows="5"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="notes" class="col-md-3 control-label">Notes</label>
                                                        <div class="col-md-8">
                                                            <textarea class="col-md-12 form-control  col-xs-12" cols="20" id="notes" name="notes" rows="5"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                            <button type="submit" class="btn btn-primary">Submit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



<script type='text/javascript'>
    $(".mytabs").tabs();
</script>