<div class="col-xs-12 col-md-12">
        <div>
            <table class="table table-hover table-striped table-bordered">
                <tbody>
                    <tr>
					<td>Case Type</td><td>:</td><td><select class="form-control"><option value="">Select</option><option value="Products">Products</option>
					<option value="Customer">Customer</option>
					</select></td>
					<td>Country</td><td>:</td><td><select class="form-control"><option value="">Select</option></select></td>
					<td rowspan="2" align="center"><br /><input type="button" class="btn btn-blue" value="Search" style="width:100px;" /></td>
					
					
					</tr>
					<br />
					<tr>
					<td>Month</td><td>:</td><td><select class="form-control"><option value="">Select</option><option value="January">January</option>
					<option value="February">February</option><option value="March">March</option><option value="April">April</option>
					<option value="May">May</option><option value="June">June</option><option value="July">July</option>
					<option value="August">August</option><option value="September">September</option><option value="October">October</option>
					<option value="November">November</option><option value="December">December</option>
					
					
					</select></td>
					<td>Data</td><td>:</td><td><select class="form-control"><option value="">Select</option><option value="Number Count">Number Count</option>
					<option value="Product Wise">Product Wise</option>
					</select></td>
					
					
					
					
					
					
					
					</tr>
                    
                    
                    
                </tbody>
            </table>

           </div>
    </div>

	
	<div class="col-xs-12 col-md-12">
	<br /><br />
        <div class="well with-header with-footer">
            <div class="header bordered-blue">
			
              Date Wise
            </div>
            <div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col" style="width:450px !important">
                               Number
                            </th>
                           
                            <th scope="col">
                               01-03-2016
                            </th>
                            <th scope="col">
                               02-03-2016
                            </th>
                            <th scope="col">
                                 03-03-2016
                            </th>
                            <th scope="col">
                                  04-03-2016
                            </th>
                            <th scope="col">
                                 05-03-2016
                            </th>
                            <th scope="col">
                                06-03-2016
                            </th>
                            <th scope="col">
                                07-03-2016
                            </th>
                            <th scope="col">
                              08-03-2016
                            </th>
							 <th scope="col" style="width:450px !important">
                               09-03-2016
                            </th>
                            <th scope="col">
                                10-03-2016
                            </th>
                            <th scope="col">
                               11-03-2016
                            </th>
                            <th scope="col">
                              12-03-2016
                            </th>
                            <th scope="col">
                                13-03-2016
                            </th>
                            <th scope="col">
                               14-03-2016
                            </th>
                            <th scope="col">
                                15-03-2016
                            </th>
                            <th scope="col">
                               16-03-2016
                            </th>
                            <th scope="col">
                              17-03-2016
                            </th>
                            <th scope="col">
                               18-03-2016
                            </th>
							 <th scope="col" style="width:450px !important">
                               06-03-2016
                            </th>
                            <th scope="col">
                                19-03-2016
                            </th>
                            <th scope="col">
                                20-03-2016
                            </th>
                            <th scope="col">
                            	21-03-2016
                            </th>
                            <th scope="col">
                              22-03-2016
                            </th>
                            <th scope="col">
                                23-03-2016
                            </th>
                            <th scope="col">
                                24-03-2016
                            </th>
                            <th scope="col">
                                25-03-2016
                            </th>
                            <th scope="col">
                               26-03-2016
                            </th>
                            <th scope="col">
                               27-03-2016
                            </th>
							<th scope="col">
                                28-03-2016
                            </th>
                            <th scope="col">
                                29-03-2016
                            </th>
                            <th scope="col">
                               30-03-2016
                            </th>
                            <th scope="col">
                               31-03-2016
                            </th>
							<th scope="col">
                              Total
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                           
                            <td>
                             No. of Jobs Recieved
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							<td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                              <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							<td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							 <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							<td>
                                <input type="text" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            
                            <td>
                                 No. of Jobs done on time
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							<td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                              <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							<td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							 <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							<td>
                                <input type="text" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            
                            <td>
                               No. of Jobs Delay
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							<td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                              <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							<td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							 <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							<td>
                                <input type="text" class="form-control" />
                            </td>
                        </tr>
						<tr>
                            
                            <td>
                               Total Value of Jobs
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							<td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                              <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							<td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							 <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							<td>
                                <input type="text" class="form-control" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>

    </div>
	<div class="col-xs-12 col-md-12">
        <div class="well with-header with-footer">
            <div class="header bordered-blue">
               Product Wise
            </div>
            <div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col" style="width:450px !important">
                               Product
                            </th>
                            
                            <th scope="col">
                               01-03-2016
                            </th>
                            <th scope="col">
                               02-03-2016
                            </th>
                            <th scope="col">
                                 03-03-2016
                            </th>
                            <th scope="col">
                                  04-03-2016
                            </th>
                            <th scope="col">
                                 05-03-2016
                            </th>
                            <th scope="col">
                                06-03-2016
                            </th>
                            <th scope="col">
                                07-03-2016
                            </th>
                            <th scope="col">
                              08-03-2016
                            </th>
							 <th scope="col" style="width:450px !important">
                               09-03-2016
                            </th>
                            <th scope="col">
                                10-03-2016
                            </th>
                            <th scope="col">
                               11-03-2016
                            </th>
                            <th scope="col">
                              12-03-2016
                            </th>
                            <th scope="col">
                                13-03-2016
                            </th>
                            <th scope="col">
                               14-03-2016
                            </th>
                            <th scope="col">
                                15-03-2016
                            </th>
                            <th scope="col">
                               16-03-2016
                            </th>
                            <th scope="col">
                              17-03-2016
                            </th>
                            <th scope="col">
                               18-03-2016
                            </th>
							 <th scope="col" style="width:450px !important">
                               06-03-2016
                            </th>
                            <th scope="col">
                                19-03-2016
                            </th>
                            <th scope="col">
                                20-03-2016
                            </th>
                            <th scope="col">
                            	21-03-2016
                            </th>
                            <th scope="col">
                              22-03-2016
                            </th>
                            <th scope="col">
                                23-03-2016
                            </th>
                            <th scope="col">
                                24-03-2016
                            </th>
                            <th scope="col">
                                25-03-2016
                            </th>
                            <th scope="col">
                               26-03-2016
                            </th>
                            <th scope="col">
                               27-03-2016
                            </th>
							<th scope="col">
                                28-03-2016
                            </th>
                            <th scope="col">
                                29-03-2016
                            </th>
                            <th scope="col">
                               30-03-2016
                            </th>
                            <th scope="col">
                               31-03-2016
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                           
                            <td>
                             6000 series cyclo units ($)
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							<td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                              <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							<td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							 <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                           
                            <td>
                                4000 series cyclo units ($)
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							<td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                              <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							<td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							 <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            
                            <td>
                              Prest Neo Drive
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							<td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                              <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							<td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							 <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>

    </div>
	<div class="col-xs-12 col-md-12">
        <div class="well with-header with-footer">
            <div class="header bordered-blue">
               Month Wise
            </div>
            <div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col" style="width:450px !important">
                               Number
                            </th>
                           
                            <th scope="col" style="width:450px !important">
                               SMMA
                            </th>
                            <th scope="col" style="width:450px !important">
                               SMTH
                            </th>
                            <th scope="col" style="width:450px !important">
                                AUST
                            </th>
                            <th scope="col" style="width:450px !important">
                                  SCA
                            </th>
                            <th scope="col" style="width:450px !important">
                                SMPH
                            </th>
                            <th scope="col" style="width:450px !important">
                               INDONESIA
                            </th>
                            <th scope="col" style="width:450px !important">
                               INDIA
                            </th>
                            <th scope="col" style="width:450px !important">
                              SRILANKA
                            </th>
							 <th scope="col" style="width:450px !important">
                              VIETNAM
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            
                            <td>
                             No. of Jobs Recieved
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
							<td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
							 <td>
                               <input type="text" class="form-control" />
                            </td>
                            
                            
                        </tr>
                        <tr>
                            
                            <td>
                                 No. of Jobs done on time
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							<td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                           
                        </tr>
                        <tr>
                            
                            <td>
                               No. of Jobs Delay
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							<td>
                                <input type="text" class="form-control" />
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>

    </div>
    	

<div class="col-xs-12 col-md-12">
	<br /><br />
        <div class="well with-header with-footer">
            <div class="header bordered-blue">
			
              Month Wise
            </div>
            <div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col" style="width:450px !important">
                               Product
                            </th>
                           
                            <th scope="col" style="width:450px !important">
                               SMMA
                            </th>
                            <th scope="col" style="width:450px !important">
                               SMTH
                            </th>
                            <th scope="col" style="width:450px !important">
                                AUST
                            </th>
                            <th scope="col" style="width:450px !important">
                                  SCA
                            </th>
                            <th scope="col" style="width:450px !important">
                                SMPH
                            </th>
                            <th scope="col" style="width:450px !important">
                               INDONESIA
                            </th>
                            <th scope="col" style="width:450px !important">
                               INDIA
                            </th>
                            <th scope="col" style="width:450px !important">
                              SRILANKA
                            </th>
							 <th scope="col" style="width:450px !important">
                              VIETNAM
                            </th>
							<th scope="col">
                              Total
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                           
                            <td>
                             6000 series cyclo units ($)
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							<td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                           
                        </tr>
                        <tr>
                            
                            <td>
                                 4000 series cyclo units ($)
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							<td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            
                        </tr>
                        <tr>
                            
                            <td>
                               Prest Neo Drive
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							<td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            
                        </tr>
						<tr>
                            
                            <td>
                               Total Value of Jobs
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                 <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                               <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
							<td>
                                <input type="text" class="form-control" />
                            </td>
                            <td>
                                <input type="text" class="form-control" />
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>

    </div>