 <div ng-controller="ModalDemoCtrl">
                            <script type="text/ng-template" id="myModalContent.html">
                               
                                <div class="modal-body">
                                 <h3 style="font-weight:bold;"> Currency Converse</h3>
								 <hr>
								 	
										
			<div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
               
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="widget flat radius-bordered">
                             
                            <div class="widget-body">
                                <div id="registration-form">
                                    <form role="form">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                       <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Effective Date" /><i class="glyphicon glyphicon-calendar calendar"></i></span>
                                                        
                                                    </div>
                                                </div>
											<div class="col-sm-6">
                                                <div class="form-group">
                                                    <select class="form-control">
														<option value="">Select Dates</option>
														<option value="Date 1">Date 1</option>
														<option value="Date 1">Date 2</option>
														<option value="Date 1">Date 3</option>
														<option value="Date 1">Date 4</option>
														<option value="Date 1">Date 5</option>
														<option value="Date 1">Date 6</option>
													</select>
                                                        
                                                    </div>
                                                </div>	
                                            </div>
                                           <div class="row">
										   		<div class="col-sm-5">
												</div>
												<div class="col-sm-4">
													 <button class="btn btn-blue" ng-click='ok();'>Save</button>
													 <button class="btn btn-blue" ng-click='cancel();'>Cancel</button>
												</div>
										   </div>
										   
										    
                                        </div>
										
                                       
                                      
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
				 
				 
				
             </div><br/><br/>
			 
									
									
								 
                                </div>
								
                                
                            </script> 

                           <p align="right">
						   
						    <button class="btn btn-blue" ng-click="open('','myModalContent.html', 'lg')">Add  Currency Converse</button>
						   </p>
                         
                        </div>
 
  
        </div>
		<br />
		
<div class="horizontal-space"></div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="well with-header with-footer">
            <div class="header bordered-blue">
               Added Conversion Currencies
            </div>
<div class="table-scrollable">
		<table class="table table-hover table-striped table-bordered">
		<thead class="bordered-blue">
		<tr>
		<th>#</th>
		<th>From</th>
		<th>To</th>
		<th>Exchange Rate</th>
		</tr>
		</thead>
		<tbody>
		<tr>
		<td>1</td>
		<td>Steve</td>
		<td>Jobs</td>
		<td>50</td>
		</tr>
		<tr>
		<td>1</td>
		<td>Steve</td>
		<td>Jobs</td>
		<td>50</td>
		</tr>
		<tr>
		<td>1</td>
		<td>Steve</td>
		<td>Jobs</td>
		<td>25-4-2016</td>
		</tr>
		<tr>
		<td>1</td>
		<td>Steve</td>
		<td>Jobs</td>
		<td>25-4-2016</td>
		</tr>
		<tr>
		<td>1</td>
		<td>Steve</td>
		<td>Jobs</td>
		<td>25-4-2016</td>
		</tr>
		<tr>
		<td>1</td>
		<td>Steve</td>
		<td>Jobs</td>
		<td>25-4-2016</td>
		</tr>
		<tr>
		<td>1</td>
		<td>Steve</td>
		<td>Jobs</td>
		<td>25-4-2016</td>
		</tr>
		</tbody>
		</table>
		</div>
		
					<!--<div class="footer">
						<code>class="table table-striped"</code>
					</div>-->
		</div>
	</div>
</div>
