
<!--<script>
        
        
        	 
            $("#db").click(function(){
            	//alert("welcome bss");
                $.get("testurl.do", function(data, status){
                    //alert("Data: " + data + "\nStatus: " + status);
                });
            });
   
        
        </script>-->


   <div class="row">
			 <div class="well" style="background-color:#FFFFFF; height:500px;">
			
		<h2 align="center"><br /><br /><br /><br />Welcome Sumitomo Drive Technologies<br /><br /><br /><br /></h2>
		<!--<input type="submit" id="db" value="submit"/>-->	
            
        </div>
        
    </div>
