

<style>
 #pageHeadding{
	font-size: 25px;
	font-weight: 300;
	color: #000000;
	text-align: center;
	margin: 0px 0px;
	padding: 0px 0px;
}


</style>
<section id="content" data-ng-controller="HistoryMasterData" ng-init ="loadCountryNames();loadYearNames();addFormField();loadhistoryFlag();loadProductCategory();">

		<div class="row" > 
    	<div class="col-sm-12">
        <div class="well with-header with-footer" style="background-color:#FFFFFF;height:700px;>
				<div class="header bordered-blue" id="pageHeadding" >
           			Historical Data
            	</div>
				<form name="HistoricalDataForm" ng-submit="AddHistory(AddHistoricalData,HistoricalDataForm)" novalidate>
			<input type="hidden" class="form-control" name="historyFlag" data-ng-model="AddHistoricalData.historyFlag">
			<div class="row" >
					<div class="col-sm-4" >
					<div class="col-sm-12" >
							<div  ng-class="{ 'has-error' : HistoricalDataForm.countryNames.$invalid && (HistoricalDataForm.countryNames.$dirty || submitted)}">
								<select class="form-control" name="countryNames" data-ng-model="AddHistoricalData.countryCode" data-ng-required="true" ng-options="countryCode.countrycode as countryCode.country for countryCode in countryNames | orderBy:'-country':true"><option value="">Select Country</option>
								</select>
							<p ng-show="HistoricalDataForm.countryNames.$error.required && (HistoricalDataForm.countryNames.$dirty || submitted)" class="help-block"> Select Country</p>
							</div>
					</div>
					
				</div>
			
					
					<div class="col-sm-4" >
					<div class="col-sm-12" >
							<div  ng-class="{ 'has-error' : HistoricalDataForm.yearNames.$invalid && (HistoricalDataForm.yearNames.$dirty || submitted)}">
							<select class="form-control" name="yearNames" data-ng-model="AddHistoricalData.year" data-ng-required="true"  ng-options="year.year as year.year for year in yearNames" ng-change="gethistoryFlag(AddHistoricalData.year,AddHistoricalData.countryCode);changeProductCategoryStatus(AddHistoricalData.historyFlag);loadGridData(AddHistoricalData.historyFlag);	">							<option value="">Select Year</option>
							</select>
							<p ng-show="HistoricalDataForm.yearNames.$error.required && (HistoricalDataForm.yearNames.$dirty || submitted)" class="help-block"> Select Year</p>
							</div>
					</div>
					
				</div>
					<div ng-if="AddHistoricalData.historyFlag == 0">
						<div class="col-sm-4" >
					<div class="col-sm-12" >
							<div  ng-class="{ 'has-error' : HistoricalDataForm.productCategoryNames.$invalid && (HistoricalDataForm.productCategoryNames.$dirty || submitted)}">
							<select class="form-control" name="productCategoryNames" data-ng-model="AddHistoricalData.pcCode"    data-ng-required="requiredstatus" ng-options="product.productcategorycode as product.productcategory for product in product"  ng-change="loadGridData(AddHistoricalData.historyFlag);">							<option value="">Select Product Category</option>
							</select>
							<p ng-show="HistoricalDataForm.productCategoryNames.$error.required && (HistoricalDataForm.productCategoryNames.$dirty || submitted)" class="help-block"> Select Product Category</p>
							</div>
					</div>
					
				</div>
				</div>
						
					
				</div>
				<br />
				<br />
			
			
			<div id="errorMsg" style="text-align:center; font-weight:bold;"></div><br />
			<div class="table-responsive tabData"  align="center"> 
							 <table class="table" style="border:none;">
										<thead>
											<tr>
												<!--<th><span>Action</span></th>-->
												<th ><span><b>Product</b></span></th>
												<th ><span><b>Booking Value in (USD)</b></span></th>
											</tr>
										</thead>										
										<tbody>
											<tr ng-repeat='HistoryData in data'>
												<td style="display:none;">
<button type="button" id="right_All_1" class="btn btn-primary" ng-click='addFormField();' ng-if="HistoryData.id == '1'"><i class="glyphicon glyphicon-plus-sign""></i></button>												
<span ng-if="updateFlag!='ok'"><button type="button" id="right_All_1" class="btn btn-primary" ng-click='removeRow(HistoryData.id);' ng-if="HistoryData.id != '1'"><i class="glyphicon glyphicon-remove-sign"></i></button></span>
<span ng-if="updateFlag=='ok'">
<span ng-if="HistoryData.id!= '1'">
	<button type="button" id="right_All_1" class="btn btn-primary" ng-click='removeRow(HistoryData.id);' ng-if="HistoryData.id<=updateLength" ng-disabled='true'><i class="glyphicon glyphicon-remove-sign"></i></button>
	<button type="button" id="right_All_1" class="btn btn-primary" ng-click='removeRow(HistoryData.id);' ng-if="HistoryData.id>updateLength" ng-disabled='false'><i class="glyphicon glyphicon-remove-sign"></i></button>
	
	</span>
</span>				
									
												</td>
												<td style="display:none;"><input type="text" data-ng-model="HistoryData.slno"></td>
												
												<td>
												
<div class="form-group" ng-class="{ 'has-error' : HistoricalDataForm.productNames{{$index}}.$invalid && (HistoricalDataForm.productNames{{$index}}.$dirty || submitted)}">																																																											
<input type="text" class="form-control" placeholder="Product Name" name="productNames{{$index}}"    data-ng-model="HistoryData.productName" readonly data-ng-required='true'   tooltip-placement="top" tooltip="{{HistoryData.productName}}"/>

	<p ng-show="HistoricalDataForm.productNames{{$index}}.$error.required && (HistoricalDataForm.productNames{{$index}}.$dirty || submitted)" class="help-block">Required</p>												
	<p ng-show="HistoricalDataForm.productNames{{$index}}.$error.pattern  && (HistoricalDataForm.productNames{{$index}}.$dirty || submitted)" class="help-block">Invalid</p>
</div>				
							 
												</td>
												<td>
<div class="form-group" ng-class="{ 'has-error' : HistoricalDataForm.BookingValue{{$index}}.$invalid && (HistoricalDataForm.BookingValue{{$index}}.$dirty || submitted)}">																																																											
<input type="text" class="form-control" placeholder="Booking Value in USD" name="BookingValue{{$index}}"    data-ng-model="HistoryData.bookingValue"  data-ng-pattern=" /^[0-9]{1,7}(\.[0-9]+)?$/"  tooltip-placement="top" tooltip="{{HistoryData.BookingValue}}"/>
	<p ng-show="HistoricalDataForm.BookingValue{{$index}}.$error.required && (HistoricalDataForm.BookingValue{{$index}}.$dirty || submitted)" class="help-block">Required</p>												
	<p ng-show="HistoricalDataForm.BookingValue{{$index}}.$error.pattern  && (HistoricalDataForm.BookingValue{{$index}}.$dirty || submitted)" class="help-block">Invalid</p>
	</div>												 
												</td>
												
												
												
											</tr>

										</tbody>
									</table>
						</div>
						
				<div class="row">
						   <div class="col-sm-12" align="center">
								<button type="submit" class="btn btn-blue">Save</button>
								<button type="reset" class="btn btn-blue" ng-click="reset(HistoricalDataForm)">Reset</button>
						  </div>
						  	
						</div>
			</div>
	</div>
	
	
	
	</form>
		</div>
		</div>
</section>
