
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
  <head>
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="msvalidate.01" content="36A28D9109C077BA3E623651FC1656F4" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="fb:admins" content="19908503" />
    <meta property="fb:app_id" content="112989545392380" /> 
    <meta property="og:title" content="HTML Snippets for Twitter Boostrap framework : Bootsnipp.com" />
    <meta property="og:type" content="website" />
    <meta property="twitter:account_id" content="786331568" />
    <meta property="og:url" content="http://bootsnipp.com/snippets/7qkV" />
    <meta itemprop="name" content="Bootstrap Ui-Kit-Metro Like Nav Example">
    <meta itemprop="description" content="Code example of Ui-Kit-Metro Like Nav using HTML, Javascript, jQuery, and CSS. Bootstrap snippet by DonSinDRom">
    <meta name="description" content="Code example of Ui-Kit-Metro Like Nav using HTML, Javascript, jQuery, and CSS. Bootstrap snippet by DonSinDRom">
    <meta name="keywords" content="bootstrap, css, javascript, jquery, code, example, snippet, menu, navigation, icon fonts, ">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@bootsnipp">
    <meta name="twitter:title" content="Ui-Kit-Metro Like Nav">
    <meta name="twitter:description" content="menu, navigation, icon fonts,  Bootstrap HTML CSS JS code snippet by DonSinDRom">
    <meta name="twitter:creator" content="@bootsnipp">
    <meta name="twitter:image:src" content="http://bootsnipp.com/img/screenshots/e0b6c3cb4171b43ea0071d96cccd9f94b3403947.jpeg ">
      <meta property="og:image" content="http://bootsnipp.com/img/logo.jpg" />
    <meta property="og:site_name" content="Bootsnipp.com" />
      <meta property="og:description" content="Awesome Bootstrap HTML CSS JS Snippet on Bootsnipp.com." />
      <title>Code Snippet Ui-Kit-Metro Like Nav using HTML CSS   jQuery  | Bootsnipp.com</title>
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-144x144-precomposed.png">
    <link rel="alternate" type="application/rss+xml" title="Latest snippets from Bootsnipp.com" href="http://bootsnipp.com/feed.rss" />

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://bootsnipp.com/dist/bootsnipp.min.css?ver=7d23ff901039aef6293954d33d23c066">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    	<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.js"></script>
    <![endif]-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55581850-1', 'auto', {'allowLinker': true});
  ga('require', 'linker');
  ga('linker:autoLink', ['danstools.com','unixtimestamp.com','url-encode-decode.com','cssfontstack.com','hexcolortool.com','htaccessredirect.net','jspretty.com','jsmini.com','jsobfuscate.com','md5hashgenerator.com','regextester.com','cleancss.com','favicon-generator.org','website-performance.org','permissions-calculator.org','conversoes.org','convertissez.fr','convertitore.net','elconvertidor.com','files-conversion.com','henkan-muryo.com','konvertirung.org','konvertor.org','tahwil.net','zhuan-huan.com','bootsnipp.com'] );
  ga('send', 'pageview');

        window.onload = function() {
        setTimeout(function() {
          var ad = document.querySelector(".bsap_ac1f95c148ce6148393fd34e69a52240");
          var promos = document.querySelectorAll(".f49flj");
	  var isblock = 0;
          for (var i = 0; i < promos.length; i++) {
                  var promo = promos[i];
          if (isblock ==1 || (ad && ad.innerHTML.replace(/\s/g, "").length == 0)) {
	    isblock = 1;
//            ad.style.cssText = 'display:block !important';
//          promo.style.cssText = 'display:none !important';
            promo.innerHTML = '<a href=\"http://www.semrush.com/?ref=15287479\"><img src=\"/img/smr.png\" /></a><p>';
	    promo.style.display= 'inline-block';
	    promo.style.visibility= 'visible';
            promo.style.maxWidth= '';
          } else if (promo) {
            promo.innerHTML = '<center>\
<div id="f49flj2" style="background-color:#FCFCFC;width: 728px;height:90px;padding:10px;border:1px solid #cccccc;text-align:left;">\
<h5 style="margin-top:0px;margin-bottom:2px">\
<i class="fa fa-area-chart"></i> <a href="http://www.semrush.com/?ref=15287479" >Competitive SEO Data</a></h5>\
Get competitive SEO intelligence, backlinks, rankings, keyword research, with SEMrush.\
</div>\
</center>';
//            var promotwo = document.querySelector("#toppromo2");
            promo.childNodes[0].childNodes[0].style.width= '';
          }
	  }
        }, 1000);
      };
   
</script>
    <script type="text/javascript">
    var fb_param = {};
    fb_param.pixel_id = '6007046190250';
    fb_param.value = '0.00';
    (function(){
      var fpw = document.createElement('script');
      fpw.async = true;
      fpw.src = '//connect.facebook.net/en_US/fp.js';
      var ref = document.getElementsByTagName('script')[0];
      ref.parentNode.insertBefore(fpw, ref);
    })();
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6007046190250&amp;value=0" /></noscript>
  </head>
  <body>
<!-- BuySellAds Ad Code -->
<script type="text/javascript">
(function(){
  var bsa = document.createElement('script');
     bsa.type = 'text/javascript';
     bsa.async = true;
     bsa.src = '//s3.buysellads.com/ac/bsa.js';
  (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
})();
</script>
<!-- End BuySellAds Ad Code -->

    <nav class="navbar navbar-fixed-top navbar-bootsnipp animate" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="animbrand">
        <a class="navbar-brand animate" href="http://bootsnipp.com">Bootsnipp</a>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">
        <li class="visible-xs">
          <form action="http://bootsnipp.com/search" method="GET" role="search">
            <div class="input-group">
              <input type="text" class="form-control" name="q" placeholder="Search for snippets">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                <button class="btn btn-danger" type="reset"><span class="glyphicon glyphicon-remove"></span></button>
              </span>
            </div>
          </form>
        </li>
        <li class=""><a href="http://bootsnipp.com/about" class="animate">About</a></li>
        <li>
          <a href="#" class="dropdown-toggle animate " data-toggle="dropdown">Tools <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
<!--            <li class=""><a href="http://bootsnipp.com/blog" class="animate">Blog <span class="pull-right glyphicon glyphicon-pencil"></span></a></li>
            <li class=""><a href="http://bootsnipp.com/resources" class="animate">List of resources <span class="pull-right glyphicon glyphicon-align-justify"></span></a></li>
            <li><a href="http://getbootstrap.com" target="_blank" class="animate">Download Bootstrap <span class="pull-right glyphicon glyphicon-cloud-download"></span></a></li>
            <li class="dropdown-header">Bootstrap Templates</li>
            <li class=""><a href="http://bootsnipp.com/templates" class="animate">Browse Templates <span class="pull-right glyphicon glyphicon-shopping-cart"></span></a></li>
            <li class="dropdown-header">Builders</li>
-->
            <li class=""><a href="http://bootsnipp.com/forms" class="animate">Form Builder <span class="pull-right glyphicon glyphicon-tasks"></span></a></li>
            <li class=""><a href="http://bootsnipp.com/buttons" class="animate">Button Builder <span class="pull-right glyphicon glyphicon-edit"></span></a></li>
            <li class=""><a href="http://bootsnipp.com/iconsearch" class="animate">Icon Search <span class="pull-right glyphicon glyphicon-search"></span></a></li>
            <li class="dropdown-header">Dan's Tools</li>
            <li class=""><a href="http://www.cleancss.com/diff-compare-merge/" class="animate">Diff / Merge <span class="pull-right glyphicon glyphicon-transfer"></span></a></li>
            <li class=""><a href="http://www.hexcolortool.com/" class="animate">Color Picker <span class="pull-right glyphicon glyphicon-pencil"></span></a></li>
            <li class=""><a href="http://www.danstools.com/keyword-tool/" class="animate">Keyword Tool <span class="pull-right glyphicon glyphicon-list-alt"></span></a></li>
            <li class=""><a href="http://www.cssfontstack.com/Web-Fonts/" class="animate">Web Fonts <span class="pull-right glyphicon glyphicon-font"></span></a></li>
            <li class=""><a href="http://www.htaccessredirect.net/" class="animate">.htaccess Generator <span class="pull-right glyphicon glyphicon-console"></span></a></li>
            <li class=""><a href="http://www.favicon-generator.org/" class="animate">Favicon Generator <span class="pull-right glyphicon glyphicon-picture"></span></a></li>
            <li class=""><a href="http://www.website-performance.org/" class="animate">Site Speed Test <span class="pull-right glyphicon glyphicon-dashboard"></span></a></li>

          </ul>
        </li>
        <li class="dropdown">
          <a href="http://bootsnipp.com/snippets" class="dropdown-toggle animate" data-toggle="dropdown">Snippets <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="active"><a href="http://bootsnipp.com/snippets/featured" class="animate">Featured <span class="pull-right glyphicon glyphicon-star"></span></a></li>
            <li class=""><a href="http://bootsnipp.com/tags" class="animate">Tags  <span class="pull-right glyphicon glyphicon-tags"></span></a></li>
            <li class="dropdown-header">By Bootstrap Version</li>
                          <li><a href="http://bootsnipp.com/tags/3.3.0" class="animate">3.3.0</a></li>
                          <li><a href="http://bootsnipp.com/tags/3.2.0" class="animate">3.2.0</a></li>
                          <li><a href="http://bootsnipp.com/tags/3.1.0" class="animate">3.1.0</a></li>
                          <li><a href="http://bootsnipp.com/tags/3.0.3" class="animate">3.0.3</a></li>
                          <li><a href="http://bootsnipp.com/tags/3.0.1" class="animate">3.0.1</a></li>
                          <li><a href="http://bootsnipp.com/tags/3.0.0" class="animate">3.0.0</a></li>
                          <li><a href="http://bootsnipp.com/tags/2.3.2" class="animate">2.3.2</a></li>
                      </ul>
        </li>
        
                  <li class=""><a href="http://bootsnipp.com/register" class="animate">Register</a></li>
          <li id="nav-login-btn" class=""><a href="http://bootsnipp.com/login" class="animate">Login</a></li>
        
        <li class="hidden-xs"><a href="#toggle-search" class="animate"><span class="glyphicon glyphicon-search"></span></a></li>
      </ul>
    </div>
  </div>
  <div class="bootsnipp-search animate">
    <div class="container">
      <form action="http://bootsnipp.com/search" method="GET" role="search">
        <div class="input-group">
          <input type="text" class="form-control" name="q" placeholder="Search for snippets and hit enter">
          <span class="input-group-btn">
            <button class="btn btn-danger" type="reset"><span class="glyphicon glyphicon-remove"></span></button>
          </span>
        </div>
      </form>
    </div>
  </div>
</nav>
           <div class="container" style="margin-top:10px;">
        <div class="row" itemscope="http://schema.org/Thing">
	 <div class="col-sm-12 col-md-4">
                <div class="title-bar" style="margin-bottom:0px;"> 
                    <a href="http://bootsnipp.com/DonSinDRom" title="Bootstrap snippets by DonSinDRom" class="avatar-sm-container pull-left"><img src="http://bootsnipp.com/img/avatars/6815bf3e2c6a99c6a91af1cc2cf4bd6e13be2650.jpg" class="img-rounded user-avatar-sm"></a>

                    <h4 itemprop="name">&quot;Ui-Kit-Metro Like Nav&quot;<br>
                    <small>Bootstrap 3.1.0 Snippet by <a href="http://bootsnipp.com/DonSinDRom" title="Bootstrap snippets by DonSinDRom" itemscope itemtype="http://schema.org/Person" itemprop="name">DonSinDRom</a></small>
                    </h4>
                    <div class="clearfix"></div>
                </div> 
                <div id="tags" itemprop="description" style="padding-top:0px; float:left;">

                    <a href="http://bootsnipp.com/tags/3.1.0"><span class="label label-primary">3.1.0</span></a>
		                            <a href="http://bootsnipp.com/tags/jquery" title="jquery"><span class="label label-primary">jQuery</span></a>
		                                                <a href="http://bootsnipp.com/tags/menu" title="menu"><span class="label label-primary">menu</span></a>
                                            <a href="http://bootsnipp.com/tags/navigation" title="navigation"><span class="label label-primary">navigation</span></a>
                                            <a href="http://bootsnipp.com/tags/icon_fonts" title="icon fonts"><span class="label label-primary">icon fonts</span></a>
                                                        </div> 

	 </div>
	 <div class="col-sm-12 col-md-8">
                <div style="margin-top:10px">
<center>
	<!-- bootsnipp-leaderboard-2 -->
<!--	<ins class="adsbygoogle"
	     style="display:inline-block;width:728px;height:90px"
	     data-ad-client="ca-pub-8815422507798180"
	     data-ad-slot="6745801727"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
-->
<!-- BuySellAds Zone Code -->
<div id="bsap_1305164" class="bsarocks bsap_ac1f95c148ce6148393fd34e69a52240"></div>
<!-- End BuySellAds Zone Code -->

<div class="hidden-xs hidden-sm hidden-md f49flj" style="max-width:300px;vertical-align:top;display:none;visibility:hidden;margin-left:10px;height:90px"></div>
</center>
</div>

	 </div>
	</div>
	<div class="row" style="margin-top: 10px;margin-bottom:10px;">
                   <div class="col-md-8">
                        <div class="btn-group">
                            <button type="button" id="show-preview" class="active btn btn-info">Preview</button>
                            <button type="button" id="show-html" class="btn btn-info">HTML</button>
                                                        <button type="button" id="show-css" class="btn btn-info">CSS</button>
                                                                                    <button type="button" id="show-js" class="btn btn-info">JS</button>
                                                    </div>

                        <div class="btn-group">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-cog"></span>
                          </button>
                          <ul class="dropdown-menu pull-right" role="menu">
                                                        <li><a href="http://bootsnipp.com/fullscreen/7qkV" target="_blank"><span class="glyphicon glyphicon-fullscreen"></span> View Full Screen</a></li>
                                                      </ul>
                        </div>

                        <a href="http://bootsnipp.com/fork/7qkV" id="reboot" class="btn btn-default tip" title="Copy this snippet"><span class="glyphicon glyphicon-retweet"></span> Fork this</a>
			<div id="action-bar" style="display: inline-block">
			    <a href="#" class="btn btn-default disabled"><i class="icon-eye-open"></i> 50.6K</a>
			    <a href="#comments" class="btn btn-default tip" title="View comments"><i class="icon-comment"></i></a>
			    				<a href="http://bootsnipp.com/favorites/snippet/7qkV?url=snippets%2Ffeatured%2Fui-kit-metro-like-nav" class="btn btn-default tip" title="Please log in to favorite this snippet"><span class="glyphicon glyphicon-thumbs-up"></span> 208 Fav</a>
			    			</div>
                    </div>
		    <div class="col-md-4">
			    <div class="pull-right social-sharing hidden-xs" style="padding: 0px">
				<a href="#" class="btn btn-primary"
				  onclick="window.open(
				      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('http://bootsnipp.com/snippets/featured/ui-kit-metro-like-nav') +'&t=' + encodeURIComponent('Ui-Kit-Metro Like Nav #Bootstrap #snippet'), 
				      'facebook-share-dialog', 
				      'width=626,height=436,top='+((screen.height - 436) / 2)+',left='+((screen.width - 626)/2 )); 
				    return false;">
				    <i class="icon-facebook"></i>
				</a>
				
				<a href="#" class="btn btn-info"
				  onclick="window.open(
				      'https://twitter.com/share?url='+encodeURIComponent('http://bootsnipp.com/snippets/featured/ui-kit-metro-like-nav')+'&text='+encodeURIComponent('I shared a cool #snippet on @bootsnipp  :') + '&count=none/', 
				      'twitter-share-dialog', 
				      'width=626,height=436,top='+((screen.height - 436) / 2)+',left='+((screen.width - 626)/2 )); 
				    return false;">
				  <i class="icon-twitter"></i>
				</a>
			    </div>

		    </div>

                <div class="row visible-xs">
                    <div class="col-md-12">
                        <p>
                        <div class="btn-group btn-group-justified">
                            <a href="#" class="btn btn-primary"
                              onclick="window.open(
                                  'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('http://bootsnipp.com/snippets/featured/ui-kit-metro-like-nav') +'&t=' + encodeURIComponent('Ui-Kit-Metro Like Nav #Bootstrap #snippet'), 
                                  'facebook-share-dialog', 
                                  'width=626,height=436,top='+((screen.height - 436) / 2)+',left='+((screen.width - 626)/2 )); 
                                return false;">
                                <i class="icon-facebook"></i> Post to Facebook
                            </a>
                            
                            <a href="#" class="btn btn-info"
                              onclick="window.open(
                                  'https://twitter.com/share?url='+encodeURIComponent('http://bootsnipp.com/snippets/featured/ui-kit-metro-like-nav')+'&text='+encodeURIComponent('I shared a cool #snippet on @bootsnipp  :') + '&count=none/', 
                                  'twitter-share-dialog', 
                                  'width=626,height=436,top='+((screen.height - 436) / 2)+',left='+((screen.width - 626)/2 )); 
                                return false;">
                              <i class="icon-twitter"></i> Tweet this
                            </a>
                        </div>
                        </p>
                    </div>
                    
                </div>

            </div>
         
            

        </div>
        
    </div>

    <div id="playground-container" style="overflow: hidden">
        <div id="preview-container"><iframe id="snippet-preview" class="preview-iframe" src="http://bootsnipp-env.elasticbeanstalk.com/iframe/7qkV"></iframe></div>
        <div class="container">
            <div class="row" itemscope="http://schema.org/Code" >
                <div class="col-lg-12" itemprop="programmingLanguage" content="html/css/js">
                    <div id="editor-html" class="playground-editor" itemprop="sampleType">&lt;div class=&quot;container&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
		&lt;div class=&quot;btn-group btn-group-justified&quot;&gt;
            &lt;div class=&quot;btn-group&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-nav&quot;&gt;
                    &lt;span class=&quot;glyphicon glyphicon-folder-close&quot;&gt;&lt;/span&gt;
    			    &lt;p&gt;Shopping&lt;/p&gt;
                &lt;/button&gt;
            &lt;/div&gt;
            &lt;div class=&quot;btn-group&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-nav&quot;&gt;
                    &lt;span class=&quot;glyphicon glyphicon-calendar&quot;&gt;&lt;/span&gt;
    			    &lt;p&gt;Calendar&lt;/p&gt;
                &lt;/button&gt;
            &lt;/div&gt;
            &lt;div class=&quot;btn-group&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-nav&quot;&gt;
                    &lt;span class=&quot;glyphicon glyphicon-globe&quot;&gt;&lt;/span&gt;
    			    &lt;p&gt;Network&lt;/p&gt;
                &lt;/button&gt;
            &lt;/div&gt;
            &lt;div class=&quot;btn-group&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-nav&quot;&gt;
                    &lt;span class=&quot;glyphicon glyphicon-leaf&quot;&gt;&lt;/span&gt;
    			    &lt;p&gt;Ecology&lt;/p&gt;
                &lt;/button&gt;
            &lt;/div&gt;
            &lt;div class=&quot;btn-group&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-nav&quot;&gt;
                    &lt;span class=&quot;glyphicon glyphicon-time&quot;&gt;&lt;/span&gt;
    			    &lt;p&gt;Statistics&lt;/p&gt;
                &lt;/button&gt;
            &lt;/div&gt;
            &lt;div class=&quot;btn-group&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-nav&quot;&gt;
                    &lt;span class=&quot;glyphicon glyphicon-bell&quot;&gt;&lt;/span&gt;
    			    &lt;p&gt;Events&lt;/p&gt;
                &lt;/button&gt;
            &lt;/div&gt;
        &lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</div>
                    <div id="editor-css" class="playground-editor" itemprop="sampleType">/* 
Inspired by http://dribbble.com/shots/890759-Ui-Kit-Metro/attachments/97174
*/
*, *:before, *:after {
  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box; 

  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;

  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
}
body {
    background: url(http://habrastorage.org/files/90a/010/3e8/90a0103e8ec749c4843ffdd8697b10e2.jpg);
    text-align: center;
    padding-top: 40px;
}
.btn-nav {
    background-color: #fff;
    border: 1px solid #e0e1db;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.btn-nav:hover {
    color: #e92d00;
    cursor: pointer;
    -webkit-transition: color 1s; /* For Safari 3.1 to 6.0 */
    transition: color 1s;
}
.btn-nav.active {
    color: #e92d00;
    padding: 2px;
	border-top: 6px solid #e92d00;
	border-bottom: 6px solid #e92d00;
    border-left: 0;
    border-right: 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -webkit-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    -moz-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    -ms-transition: border 0.3s ease-out, color 0.3s ease 0.5s; /* IE10 is actually unprefixed */
    -o-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}
.btn-nav.active:before {
	content: &#039;&#039;;
	position: absolute;
	border-style: solid;
	border-width: 6px 6px 0;
	border-color: #e92d00 transparent;
	display: block;
	width: 0;
	z-index: 1;
	margin-left: -6px;
	top: 0;
	left: 50%;
}
.btn-nav .glyphicon {
    padding-top: 16px;
	font-size: 40px;
}
.btn-nav.active p {
    margin-bottom: 8px;
}
@-webkit-keyframes pulsate {
 50% { color: #000; }
}
@keyframes pulsate {
 50% { color: #000; }
}
@media (max-width: 480px) {
    .btn-group {
        display: block !important;
        float: none !important;
        width: 100% !important;
        max-width: 100% !important;
    }
}
@media (max-width: 600px) {
    .btn-nav .glyphicon {
        padding-top: 12px;
        font-size: 26px;
    }
}</div>
                    <div id="editor-js" class="playground-editor" itemprop="sampleType">var activeEl = 2;
$(function() {
    var items = $(&#039;.btn-nav&#039;);
    $( items[activeEl] ).addClass(&#039;active&#039;);
    $( &quot;.btn-nav&quot; ).click(function() {
        $( items[activeEl] ).removeClass(&#039;active&#039;);
        $( this ).addClass(&#039;active&#039;);
        activeEl = $( &quot;.btn-nav&quot; ).index( this );
    });
});</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
                <div class="row">
            <div class="col-lg-12">
                <h2>Similar snippets: <small><a href="http://bootsnipp.com/similar/7qkV">See <!--60--> More</a></small></h2>
            </div>
        </div>
        <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
    <div class="thumbnail bootsnipp-thumb">
	    <div>
	    	<p class="pull-right view-counts hidden-md">
	    		<a href="http://bootsnipp.com/snippets/VWjB" class="tip" data-toggle="tooltip" title="Viewed">2.5K <i class="icon-eye-open"></i></a> 

	    		<a href="http://bootsnipp.com/snippets/VWjB" class="tip" data-toggle="tooltip" title="Favorited">3 <i class="icon-thumbs-up"></i></a> 
<!--	    		<a href="http://bootsnipp.com/tags/3.1.0"><span class="label label-info tip" data-toggle="tooltip" title="Bootstrap version">3.1.0</span></a>-->
	    	</p>
	    	<p class="lead snipp-title">
	    		<a href="http://bootsnipp.com/snippets/VWjB">Ui-Kit-Metro Like Slider</a>
	    	</p>
	    </div>
                        <div style="padding-left:10px;"><iframe class="snippet-preview" frameborder="0" scrolling="no" allowTransparency="true" src="http://d2d3qesrx8xj6s.cloudfront.net/siframe/VWjB" data-url="http://bootsnipp.com/snippets/VWjB"></iframe></div>
    	<div class="caption">
<!--        	<p><a href="http://bootsnipp.com/snippets/VWjB" class="btn btn-primary btn-lg btn-block">View</a></p>-->
    	</div>
    </div>
</div>
                            <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
    <div class="thumbnail bootsnipp-thumb">
	    <div>
	    	<p class="pull-right view-counts hidden-md">
	    		<a href="http://bootsnipp.com/snippets/A82pV" class="tip" data-toggle="tooltip" title="Viewed">878 <i class="icon-eye-open"></i></a> 

	    		<a href="http://bootsnipp.com/snippets/A82pV" class="tip" data-toggle="tooltip" title="Favorited">0 <i class="icon-thumbs-up"></i></a> 
<!--	    		<a href="http://bootsnipp.com/tags/3.1.0"><span class="label label-info tip" data-toggle="tooltip" title="Bootstrap version">3.1.0</span></a>-->
	    	</p>
	    	<p class="lead snipp-title">
	    		<a href="http://bootsnipp.com/snippets/A82pV">Social-Metro Like Nav</a>
	    	</p>
	    </div>
                        <div style="padding-left:10px;"><iframe class="snippet-preview" frameborder="0" scrolling="no" allowTransparency="true" src="http://d2d3qesrx8xj6s.cloudfront.net/siframe/A82pV" data-url="http://bootsnipp.com/snippets/A82pV"></iframe></div>
    	<div class="caption">
<!--        	<p><a href="http://bootsnipp.com/snippets/A82pV" class="btn btn-primary btn-lg btn-block">View</a></p>-->
    	</div>
    </div>
</div>
                            <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
    <div class="thumbnail bootsnipp-thumb">
	    <div>
	    	<p class="pull-right view-counts hidden-md">
	    		<a href="http://bootsnipp.com/snippets/pAg6G" class="tip" data-toggle="tooltip" title="Viewed">583 <i class="icon-eye-open"></i></a> 

	    		<a href="http://bootsnipp.com/snippets/pAg6G" class="tip" data-toggle="tooltip" title="Favorited">0 <i class="icon-thumbs-up"></i></a> 
<!--	    		<a href="http://bootsnipp.com/tags/3.3.0"><span class="label label-info tip" data-toggle="tooltip" title="Bootstrap version">3.3.0</span></a>-->
	    	</p>
	    	<p class="lead snipp-title">
	    		<a href="http://bootsnipp.com/snippets/pAg6G">Bootstrap Metro</a>
	    	</p>
	    </div>
                        <div style="padding-left:10px;"><iframe class="snippet-preview" frameborder="0" scrolling="no" allowTransparency="true" src="http://d2d3qesrx8xj6s.cloudfront.net/siframe/pAg6G" data-url="http://bootsnipp.com/snippets/pAg6G"></iframe></div>
    	<div class="caption">
<!--        	<p><a href="http://bootsnipp.com/snippets/pAg6G" class="btn btn-primary btn-lg btn-block">View</a></p>-->
    	</div>
    </div>
</div>
                            <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
    <div class="thumbnail bootsnipp-thumb">
	    <div>
	    	<p class="pull-right view-counts hidden-md">
	    		<a href="http://bootsnipp.com/snippets/7Nl6x" class="tip" data-toggle="tooltip" title="Viewed">1.1K <i class="icon-eye-open"></i></a> 

	    		<a href="http://bootsnipp.com/snippets/7Nl6x" class="tip" data-toggle="tooltip" title="Favorited">1 <i class="icon-thumbs-up"></i></a> 
<!--	    		<a href="http://bootsnipp.com/tags/3.3.0"><span class="label label-info tip" data-toggle="tooltip" title="Bootstrap version">3.3.0</span></a>-->
	    	</p>
	    	<p class="lead snipp-title">
	    		<a href="http://bootsnipp.com/snippets/7Nl6x">metro style </a>
	    	</p>
	    </div>
                        <div style="padding-left:10px;"><iframe class="snippet-preview" frameborder="0" scrolling="no" allowTransparency="true" src="http://d2d3qesrx8xj6s.cloudfront.net/siframe/7Nl6x" data-url="http://bootsnipp.com/snippets/7Nl6x"></iframe></div>
    	<div class="caption">
<!--        	<p><a href="http://bootsnipp.com/snippets/7Nl6x" class="btn btn-primary btn-lg btn-block">View</a></p>-->
    	</div>
    </div>
</div>
                    </div>
        
    <div class="row">
      <div class="col-md-12">
        <div style="margin-top:10px">
<center>
	<!-- bootsnipp-leaderboard-2 -->
<!--	<ins class="adsbygoogle"
	     style="display:inline-block;width:728px;height:90px"
	     data-ad-client="ca-pub-8815422507798180"
	     data-ad-slot="6745801727"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
-->

<!-- BuySellAds Zone Code -->
<div style="width: 728px;display:inline-block" id="bsap_1305164" class="bsarocks bsap_ac1f95c148ce6148393fd34e69a52240"></div>
<!-- End BuySellAds Zone Code -->

<div class="hidden-xs hidden-sm hidden-md f49flj" style="max-width:300px;vertical-align:top;display:inline-block;margin-left:10px;height:90px;"></div>
</center>
</div>

      </div>
    </div>
<hr />
        <div class="row">
            <div class="col-md-8">
                <h2 id="comments">Comments: </h2>
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                    var disqus_shortname = 'bootsnipp'; // required: replace example with your forum shortname
                    var disqus_identifier = '7qkV';
                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </div>
	    <div class="col-md-4" style="padding-top: 60px">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- body box -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-8815422507798180"
     data-ad-slot="3792335328"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
	    </div>
        </div>
    </div>
    <footer class="bs-footer" role="contentinfo">
  <div class="container">
    <div class="bs-social">
      <ul class="bs-social-buttons">
        <li class="facebook-button">
          <div id="fb-root"></div>
          <div id="js-facebook-share" class="fb-like" data-href="http://bootsnipp.com" data-width="130" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>        
        </li>
        <li class="follow-btn">
          <a id="js-twitter-follow" href="https://twitter.com/bootsnipp" class="twitter-follow-button" data-show-count="false">Follow @bootsnipp</a>
        </li>
        <li class="tweet-btn">
          <a id="js-twitter-tweet" href="https://twitter.com/share" class="twitter-share-button" data-url="http://bootsnipp.com" data-text="RT Design elements and code snippets for #twbootstrap HTML/CSS/JS framework" data-via="bootsnipp" data-related="bootsnipp">Tweet</a>
        </li>
      </ul>
    </div>
    <p>Bootsnipp.com &copy; 2015 <a href="http://www.danstools.com" target="_blank">Dan's Tools</a> | <a href="http://bootsnipp.com/privacy" target="_blank">Site Privacy policy</a> | Featured snippets are <a href="http://bootsnipp.com/license">MIT license.</a> </p>
  </div>
</footer>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="http://bootsnipp.com/dist/scripts.min.js"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script type="text/javascript">
$(function(){
    $('iframe.snippet-preview').each(function()
        {
                previewportWidth = $(this).parent().parent().innerWidth()-30;
                $(this).zoomer({ width: previewportWidth, height: $(this).parent().innerWidth()*.75, zoom: .5, message : '' ,messageURL : $(this).attr('data-url') })
                $(this).zoomer('refresh');
        });
});
</script>
<script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js"></script>
<script type="text/javascript">
(function($) { 
    window.addEventListener('message', receiveMessage, false);
    function receiveMessage(evt)
    {
        if (evt.origin !== 'http://bootsnipp.com') return;
        
        if ((evt.data != undefined) && (evt.data) && (typeof evt.data === "number"))
            if(evt.data >= 500) {
//                $('#playground-container').css('height', evt.data+30+'px');    
            }
    }

    var version = '3.1.0';
    var htmleditor = ace.edit("editor-html");
    var jseditor = ace.edit("editor-js");
    var csseditor = ace.edit("editor-css");

    $('#theme_chooser').change(function(){
        whichCSS = $(this).val();
        document.getElementById('snippet-preview').contentWindow.changeCSS(whichCSS);
    });

    function setEditorOptions(editor, type){
        editor.setTheme("ace/theme/clouds");
        editor.setHighlightActiveLine(false);
//        editor.setReadOnly(true);
        editor.getSession().setMode("ace/mode/"+type);
    };

    setEditorOptions(htmleditor,'html');
    setEditorOptions(jseditor,'javascript');
    setEditorOptions(csseditor,'css');

    function markActive(el)
    {
       $(el).siblings().removeClass('active');
       $(el).addClass('active'); 
    }

    $('#show-html').click(function(e){
        e.preventDefault();
        $('#editor-html').show().siblings().hide();
        markActive(this);
        $('#preview-container').hide();
        htmleditor.resize();
    });

    $('#show-js').click(function(e){
        e.preventDefault();
        $('#editor-js').show().siblings().hide();
        $('#preview-container').hide();
        markActive(this);
        jseditor.resize();
    });

    $('#show-css').click(function(e){
        e.preventDefault();
        $('#editor-css').show().siblings().hide();
        $('#preview-container').hide();
        markActive(this);
        csseditor.resize();
    });

    $('#show-preview').click(function(e){
        e.preventDefault();
 
        markActive(this);
 
        $('.playground-editor').hide();
 
        var html = buildSource(htmleditor, jseditor, csseditor);
        var iframe = document.createElement('iframe');
        
        iframe.src = 'about:blank';
        iframe.frameBorder="0";
        iframe.height = 496;
        iframe.className = 'preview-iframe';
        
        $('.preview-iframe').remove();
        $('div#preview-container').append(iframe);
        
        iframe.contentWindow.document.open('text/html', 'replace');
        iframe.contentWindow.document.write(html);
        iframe.contentWindow.document.close();
 
        $('#preview-container').show();
    });

    var cssurls = {};
    var jsurls = {};

        cssurls['3.3.0'] = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css';
    jsurls['3.3.0'] = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js';
        cssurls['3.2.0'] = '//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css';
    jsurls['3.2.0'] = '//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js';
        cssurls['3.1.0'] = '//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css';
    jsurls['3.1.0'] = '//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js';
        cssurls['3.0.3'] = '//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css';
    jsurls['3.0.3'] = '//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js';
        cssurls['3.0.1'] = '//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css';
    jsurls['3.0.1'] = '//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js';
        cssurls['3.0.0'] = '//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css';
    jsurls['3.0.0'] = '//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js';
        cssurls['2.3.2'] = '//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css';
    jsurls['2.3.2'] = '//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js';
        

    function buildSource(htmleditor, jseditor, csseditor)
    {   
        var code = {};
        code.html = htmleditor.getValue();
        code.css = csseditor.getValue();
        code.js = jseditor.getValue();
        code.bootstrapcss = cssurls[version];
        code.bootstrapjs = jsurls[version];

        var template = "<!doctype html>\n\
                        <html>\n\
                            <head>\n\
                                <meta charset='utf-8'>\n\
                                <meta name='viewport' content='width=device-width, initial-scale=1'>\n\
                                <title>Snippet - Bootsnipp.com</title>\n\
                                <link href='|bootstrapcss|' rel='stylesheet'>\n\
                                <style>|css|\x3C/style>\n\
                                \x3Cscript type='text/javascript' src='//code.jquery.com/jquery-1.10.2.min.js'>\x3C/script>\n\
                                \x3Cscript type='text/javascript' src='|bootstrapjs|'>\x3C/script>\n\
                                \x3Cscript type='text/javascript'>|js|\x3C/script>\n\
                            </head>\n\
                            <body>\n\
                            |html|\n\
                            </body>\n\
                        </html>";

        content = template.replace(/\|(\w+)\|/g, function(match, str)
        {
            if(str in code) return code[str];
            return '';
        });   
                        
        return content;
    }

    
})(jQuery);
</script>
  </body>
</html>
