
  <style>
  .form-control1
  {
  color: #262626;
  background-color: #ffffff;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.25);
  height:30px;
  }
  </style>
<!--<div class="horizontal-space"></div>
<br />-->
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="well with-header with-footer">
             <div class="header bordered-blue">
             Market Info
            </div>
			<div class="row">
			     <div class="col-sm-4">
				    <div class="form-group">
                     <span class="input-icon icon-right"><input type="text" class="form-control" placeholder=" " /><i class="fa fa-user"></i></span>
 					</div>  
 				 </div>
				 <div class="col-sm-2">
                       <button class="btn btn-blue">Open Image</button> 
  				 </div>
				 <div class="col-sm-6">
				     <textarea class="form-control" placeholder="Description" style="resize:none;"></textarea>
				 </div>
			</div>
			<br/><br/>
			 <div class="row">
			       <div class="col-sm-6">
				        <div class="form-group">                                
                 	<select class="form-control"> 
					    <option value="">Industry</option>
						<!--<option value="">Progress</option>
						<option value="">Active</option>
						<option value="">Disqualify</option>-->						
					</select>
			         </div>
				   </div>
				   <div class="col-sm-6">
 				      <div class="form-group">                                
                 	<select class="form-control"> 
					    <option value="">Application</option>
						<!--<option value="">Progress</option>
						<option value="">Active</option>
						<option value="">Disqualify</option>-->						
					</select>
			           </div>
				 </div>
             </div>
			 <br/>
			 <div class="row">
			       <div class="col-sm-6">
				        <div class="form-group">                                
                 	<select class="form-control"> 
					    <option value="">Product</option>
						<!--<option value="">Progress</option>
						<option value="">Active</option>
						<option value="">Disqualify</option>-->						
					</select>
			         </div>
				   </div>
				   <div class="col-sm-6">
 				      <div class="form-group">                                
                 	<select class="form-control"> 
					    <option value="">Customer</option>
						<!--<option value="">Progress</option>
						<option value="">Active</option>
						<option value="">Disqualify</option>-->						
					</select>
			           </div>
				 </div>
             </div>
			 
              <br /><br />
				<div align="center">
				<button class="btn btn-blue"  >Upload</button>
				  
			</div>
             
        </div>
 	</div>
</div>
		


	
	
	







