<div class="mycontainer">
	<div class="row">
		<div class="col-xs-12">
			<div class="page-header-section clearfix">
				<div class="pull-left">
					<ol class="breadcrumb-new">
						<li><a href="#">Dashboard</a><span
							class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></li>
						<li><a href="#">Settings</a><span
							class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></li>
						<li><a href="#">User Management</a><span
							class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></li>
						<li class="active"><span>Add Template</span></li>
					</ol>
					<h1>Add Template</h1>
				</div>
				<div class="pull-right"></div>
			</div>
		</div>
	</div>


	<div class="row center-block">
		<div class="col-md-12">
			<div class="panel-box">
				<div class="panel">
					<div class="panel-heading">
						<span class="panel-title">Add Template</span>
					</div>

					<div class="panel-body">
						<form class="form-horizontal" role="form">
							<div ng-controller="AccessController">
								<div ng-show='atemp.readaccess'>
									<toaster-container
										toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>

									<div class="form-group">
										<label class="col-md-2 control-label">Template Name</label>
										<div class="col-md-9">
											<div class="row">
												<div class="col-md-5">
													<input type=text ng-model="access.accessname"
														ng-readonly="acc" class="form-control">
												</div>
												<button type="button" class="btn btn-sm custom-btn2"
													ng-click="addaccesspoint()" ng-hide="acc">Add</button>

												<span ng-hide="read">
													<button ng-click="addNewChoice()" ng-show="acc"
														class="btn btn-sm custom-btn2">
														<span class="glyphicon glyphicon-plus-sign"></span>Add
														Menu Item
													</button>
												</span>
											</div>
										</div>
									</div>


									<div data-ng-repeat="choice in access.menulist"
										ng-readonly="read">
										<div class="form-group">
											<label class="col-md-2 control-label"></label>
											<div class="col-md-9">
												<div class="row">
													<div class="col-md-5">
														<div class="row">
															<div class="col-md-11 col-md-offset-1">
																<input type="text" class="form-control marginB15"
																	ng-model="choice.menuname" ng-readonly="read" >
															</div>
														</div>
													</div>
													<span ng-hide="read">
														<button type="button"
															class="btn btn-sm custom-btn2 remove" ng-show="$last"
															ng-click="removeChoice()">
															<span class="glyphicon glyphicon-minus-sign"></span>Remove
															Menu Item
														</button>
													</span> <span ng-hide="read">
														<button ng-click="addsubmenulist(choice.submenulist)"
															ng-show="choice.menuname" class="btn btn-sm custom-btn2">
															<span class="glyphicon glyphicon-plus-sign"></span>Add
															Sub-Menu Item
														</button>
													</span>
												</div>
											</div>
										</div>



										<div ng-repeat="sm in choice.submenulist">
											<div class="form-group">
												<label class="col-md-2 control-label"></label>
												<div class="col-md-9">
													<div class="row">
														<div class="col-md-5">
															<div class="row">
																<div class="col-md-9 col-md-offset-2">
																	<input type="text" class="form-control marginB15"
																		ng-model="sm.name" ng-readonly="read">
																</div>
																<span ng-hide="read">
																	<button type="button" class="no-button remove"
																		ng-show="$last"
																		ng-click="removesubmenulist(choice.submenulist)">
																		<span class="glyphicon glyphicon-minus-sign icon-txt"></span>
																	</button>
																</span>
															</div>
														</div>

													</div>
												</div>
											</div>
										</div>

									</div>

									<div class="row">
										<div class="col-md-12" ng-hide="read">
											<div class="form-group">
												<div class="col-md-9 col-sm-6 col-xs-12 col-md-offset-2">
													<button ng-click="submitaccesspoint()" ng-show="acc"
														class="btn btn-primary">Submit</button>
												</div>
											</div>
										</div>
									</div>

								</div>

								<div ng-hide='atemp.readaccess'> 								  
									<div class="msg msg-info">
										<span class="glyphicon glyphicon-info-sign"></span>
										You don't have access to this page. Please contact your Admin.
									</div>
								</div>
								
								
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>