
<div class="mycontainer" ng-controller="ITUserController"
	data-ng-init="createnewrequestid()">
	<toaster-container
		toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>

	<div class="row">
		<div class="col-xs-12">
			<div class="page-header-section clearfix">
				<div class="pull-left">
					<ol class="breadcrumb-new">
						<li><a href="#">Dashboard</a><span
							class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></li>
						<li><a href="#">Operation</a><span
							class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></li>
						<li><a href="#">IT</a><span
							class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></li>
						<li><a href="#">New User Management</a><span
							class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></li>
						<li class="active"><span>New User Request</span></li>
					</ol>
					<h1>New User Request</h1>
				</div>
				<div class="pull-right"></div>
			</div>
		</div>
	</div>


	<div class="row center-block">
		<div class="col-md-12">
			<div class="panel-box">
				<div class="panel">
					<div class="panel-heading">
						<span class="panel-title">Status : <span class="status-new">{{user.status}}</span></span>
						<div></div>
					</div>

					<div class="panel-body">

						<div class="mytabs">
							<div class=" tabs">
								<ul>
									<li><a href="#tabs-1">HR</a></li>
									<li><a href="#tabs-2">IT Admin</a></li>
								</ul>
								<div id="tabs-1">
									<div class="attach-box clearfix">
										<div class="pull-left">
											<div class="attach-box-inner">
												<span class="attach-title">Manage Attachment:</span>
												<ol class="attach-links">
													<li><a href="#">File name</a></li>
													<li><a href="#">File name</a></li>
													<li><a href="#">File name</a></li>
												</ol>
											</div>
										</div>
										<div class="align-right">
											<button type="button" class="btn btn-sm custom-btn">
												<span class="glyphicon glyphicon-paperclip"></span>Attach
												file
											</button>
											<div class="small-text">
												Limit size: <strong>2MB</strong> per attachment. Allowed
												file extensions : XLs/ PDF/ JPEG/ DOC
											</div>
										</div>
									</div>
									<form class="form-horizontal" role="form">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label for="country" class="col-md-4 control-label">Country</label>
													<div class="col-md-7">
														<select class="form-control" id="country"
															ng-disabled="con" ng-model="user.country"
															ng-change="createrequestid()">
															<option value="SG">Singapore</option>
															<option value="MY">Malaysia</option>
															<option value="PH">Philippines</option>
															<option value="ID">Indonesia</option>
															<option value="TH">Thailand</option>
															<option value="VN">Vietnam</option>
															<option value="AU">Australia</option>

														</select>
													</div>
												</div>

												<div class="form-group">

													<label for="RequestID" class="col-md-4 control-label">Request
														ID</label>
													<div class="col-md-7">

														<input type="text" id="RequestID" class="form-control"
															ng-readonly="true" ng-model="user.requestid">
													</div>
												</div>
												<!-- 		  <div class="form-group">
															<label for="ComputerName" class="col-md-4 control-label">Computer Name</label>
															<div class="col-md-7 ">										  
																         <input type="text" id="IPAddress" class="form-control" ng-model="user.computername">	
																    </div>

														</div> -->
												<div class="form-group">
													<label for="MiddleName" class="col-md-4 control-label">First
														Name</label>
													<div class="col-md-7">
														<input type="text" id="FirstName" class="form-control"
															ng-readonly="hr" ng-model="user.firstname">
													</div>
												</div>
												<div class="form-group">
													<label for="LastName" class="col-md-4 control-label">Middle
														Name</label>
													<div class="col-md-7">
														<input type="text" id="MiddleName" class="form-control"
															ng-readonly="hr" ng-model="user.middlename">
													</div>
												</div>
												<div class="form-group">
													<label for="LastName" class="col-md-4 control-label">Last
														Name</label>
													<div class="col-md-7">
														<input type="text" id="LastName" class="form-control"
															ng-readonly="hr" ng-model="user.lastname">
													</div>
												</div>


											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="EmployeeID" class="col-md-4 control-label">Employee
														ID</label>
													<div class="col-md-7">
														<input type="text" id="EmployeeID" class="form-control"
															ng-readonly="hr" ng-model="user.employeeid">
													</div>
												</div>
												<div class="form-group">
													<label for="AssignedTo" class="col-md-4 control-label">Assigned
														To</label>
													<div class="col-md-7">
														<input type="text" id="AssignedTo" class="form-control"
															ng-readonly="true" ng-model="user.assignedto">
													</div>
												</div>

												<div class="form-group">
													<label for="EmailID" class="col-md-4 control-label">Email
														ID</label>
													<div class="col-md-7">
														<input type="text" id="EmailID" class="form-control"
															ng-readonly="hr" ng-model="user.emailid">
													</div>
												</div>
												<div class="form-group">
													<label for="EmailID" class="col-md-4 control-label">Manager's
														Name</label>
													<div class="col-md-7">
														<input type="text" id="user.managername"
															class="form-control" ng-readonly="hr"
															ng-model="user.managername">
													</div>
												</div>
												<div class="form-group">
													<label for="EmailID" class="col-md-4 control-label">Designation</label>
													<div class="col-md-7">
														<input type="text" id="Designation" class="form-control"
															ng-readonly="hr" ng-model="user.designation">
													</div>
												</div>
												<div class="form-group">
													<label for="CreateDate" class="col-md-4 control-label">Create
														Date</label>
													<div class="col-md-7">

														<input type="text" ng-model="user.createdatestring"
															ng-readonly="true" class="form-control" />
													</div>
												</div>
												<div class="form-group">
													<label for="EndDate" class="col-md-4 control-label"
														ng-show="close">End Date</label>
													<div class="col-md-7">
														<input type="text" ng-readonly="true" class="form-control"
															ng-model="user.enddatestring" ng-readonly="true"
															ng-show="close" />


													</div>
												</div>

											</div>
										</div>

										<div class="row">
											<div class="col-xs-12 col-lg-12">


												<div id="personal-section">
													<div class="col-md-offset-2 col-lg-offset-2 marginT15">
														<div class="col-md-10">
															<p class="form-control-static text-bold control-text">Personal
																Phone Number :</p>
														</div>
														<div class="col-md-5 col-lg-4 space-bottom">
															<input type="text" class="form-control marginB15"
																ng-readonly="hr" ng-model="user.personalphonenumber">
														</div>
													</div>
												</div>
												<div id="country-section">
													<div class="col-md-offset-2 col-lg-offset-2 marginT15">
														<div class="col-md-10">
															<p class="form-control-static text-bold control-text">Office
																Phone number :</p>
														</div>
														<div class="col-md-5 col-lg-4 space-bottom">
															<input type="text" class="form-control marginB15"
																ng-readonly="hr" ng-model="user.officephonenumber">
														</div>
														<div class="clearfix"></div>
														<div ng-show="user.officephonenumber">
															<div class="col-md-5 col-lg-4 space-bottom">
																<input type="text" class="form-control marginB15"
																	placeholder="Phone Brand" ng-readonly="hr"
																	ng-model="user.officephonebrand">
															</div>
															<div class="col-md-5 col-lg-4 space-bottom">
																<input type="text" class="form-control marginB15"
																	placeholder="Phone Model" ng-readonly="hr"
																	ng-model="user.officephonemodel">
															</div>
															<div class="clearfix"></div>
															<div class="col-md-5 col-lg-4 space-bottom">
																<input type="text" class="form-control marginB15"
																	placeholder="Phone Storage" ng-readonly="hr"
																	ng-model="user.officephonestorage">
															</div>
															<div class="col-md-5 col-lg-4 space-bottom">
																<input type="text" class="form-control marginB15"
																	placeholder="Phone Serial No." ng-readonly="hr"
																	ng-model="user.officephonesno">
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>


										<div class="row">
											<div class="col-xs-12">
												<div class="form-group ">
													<label class=" col-md-2  col-lg-2 control-label"> <span
														class="p-R5">Description</span>
													</label>
													<div class="col-xs-11 col-md-7 col-lg-8 form-textarea">
														<textarea class="form-control" cols="20" id="notes"
															name="notes" rows="5" ng-readonly="hr"
															ng-model="user.notes"></textarea>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<div class="col-md-9 col-sm-6 col-xs-12 col-md-offset-4">
														<button type="button" class="btn btn-primary" ng-hide="hr"
															ng-click="createUser('hrsave')">Save</button>
														<button type="button" class="btn btn-primary" ng-hide="hr"
															ng-click="createUser('hrsubmit')">Submit</button>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>

								<div id="tabs-2">
									<div class="attach-box clearfix">
										<div class="pull-left">
											<div class="attach-box-inner">
												<span class="attach-title">Manage Attachment:</span>
												<ol class="attach-links">
													<li><a href="#">File name</a></li>
													<li><a href="#">File name</a></li>
													<li><a href="#">File name</a></li>
												</ol>
											</div>
										</div>
										<div class="align-right">
											<button type="button" class="btn btn-sm custom-btn">
												<span class="glyphicon glyphicon-paperclip"></span>Attach
												file
											</button>
											<div class="small-text">
												Limit size: <strong>2MB</strong> per attachment. Allowed
												file extensions : XLs/ PDF/ JPEG/ DOC
											</div>
										</div>
									</div>
									<form class="form-horizontal" role="form">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label for="ComputerType" class="col-md-2  control-label">Computer
														Type</label>
													<div class="col-md-9 ">
														<!--<select class="form-control" id="ComputerType"
															ng-disabled="it" ng-model="user.computertype">
															<option ng-selected="selected">Laptop</option>
															<option>Desktop</option>

														</select>-->
														
															<div class="checkbox pL20">
																<label class="control-text p-R5"> <input
																	name="laptop" type="checkbox" ng-model="user.laptop" ng-disabled="it">Laptop
																</label>
															</div>
															<div class="row" ng-show="user.laptop">
																	<div class="col-md-3 ">
																		<input type="text" class="form-control marginB15"
																			placeholder="Brand" ng-model="user.laptopbrand"
																			ng-readonly="it">
																	</div>
																	<div class="col-md-3 ">
																		<input type="text" class="form-control marginB15"
																			placeholder="Model" ng-model="user.laptopmodel"
																			ng-readonly="it">
																	</div>
																	<div class="col-md-3 ">
																		<input type="text" class="form-control marginB15"
																			placeholder="RAM" ng-model="user.laptopram"
																			ng-readonly="it">
																	</div>
																	<div class="col-md-3 ">
																		<input type="text" class="form-control marginB15"
																			placeholder="Storage" ng-model="user.laptopstorage"
																			ng-readonly="it">
																	</div>
															</div>
															<div  class="checkbox pL20">
																<label class="control-text p-R5"> <input
																	name="desktop" type="checkbox" ng-model="user.desktop" ng-disabled="it">Desktop
																</label>
															</div>
																																													
															<div class="row" ng-show="user.desktop">
																<div class="col-md-3 ">
																	<input type="text" class="form-control marginB15"
																		placeholder="Brand" ng-model="user.computerbrand"
																		ng-readonly="it">
																</div>
																<div class="col-md-3 ">
																	<input type="text" class="form-control marginB15"
																		placeholder="Model" ng-model="user.computermodel"
																		ng-readonly="it">
																</div>
																<div class="col-md-3 ">
																	<input type="text" class="form-control marginB15"
																		placeholder="RAM" ng-model="user.computerram"
																		ng-readonly="it">
																</div>
																<div class="col-md-3 ">
																	<input type="text" class="form-control marginB15"
																		placeholder="Storage" ng-model="user.computerstorage"
																		ng-readonly="it">
																</div>
															</div>


													</div>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label for="AssetID" class="col-md-2 control-label">Asset
												ID</label>
											<div class="col-md-9">
												<div class="row">
													<div class="col-md-4 ">
														<input type="text" class="form-control marginB15"
															ng-model="user.assetid" ng-readonly="it">

													</div>
												</div>
											</div>
										</div>




										<div class="form-group">
											<label for="LANRegistration" class="col-md-2 control-label">LAN
												Registration</label>
											<div class="col-md-9">
												<div class="radio-inline" ng-model="user.lan"
													ng-readonly="it">
													<label class="control-text p-R5"> <input name="lan"
														type="radio" value="yes"> Yes
													</label>
												</div>
												<div class="radio-inline">
													<label class="control-text p-R5"> <input name="lan"
														type="radio" value="no"> No
													</label>
												</div>

												<button type="button" class="btn btn-sm custom-btn2">
													<span class="glyphicon glyphicon-paperclip"></span>Attach
													file
												</button>

											</div>
										</div>


										<div class="form-group">
											<label for="ComputerName" class="col-md-2 control-label">Computer
												Name</label>
											<div class="col-md-9">
												<div class="row">
													<div class="col-md-4 ">
														<input type="text" id="ComputerName" class="form-control"
															ng-model="user.computername" ng-readonly="it">
													</div>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label for="IPAddress" class="col-md-2 control-label">IP
												Address</label>
											<div class="col-md-9">
												<div class="row">
													<div class="col-md-4 ">
														<input type="text" id="IPAddress" class="form-control"
															ng-model="user.ip" ng-readonly="it">
													</div>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label for="SHIID" class="col-md-2 control-label">SHI
												ID</label>
											<div class="col-md-9">
												<div class="row">
													<div class="col-md-4 ">
														<input type="text" id="SHIID" class="form-control"
															ng-model="user.shiid" ng-readonly="it">
													</div>
												</div>

											</div>
										</div>
										<div class="form-group">
											<label for="VPNID" class="col-md-2 control-label">VPN
												ID</label>
											<div class="col-md-9">
												<div class="row">
													<div class="col-md-4 ">
														<input type="text" id="VPNID" class="form-control"
															ng-model="user.vpnid" ng-readonly="it">
													</div>
												</div>

											</div>
										</div>
										<div class="form-group">
											<label for="VPNPassword" class="col-md-2 control-label">VPN
												Password</label>
											<div class="col-md-9">
												<div class="row">
													<div class="col-md-4 ">
														<input type="input" id="VPNPassword" class="form-control"
															ng-model="user.vpnpassowrd" ng-readonly="it">
													</div>
												</div>

											</div>
										</div>
										<div class="form-group">
											<label for="mac" class="col-md-2 control-label">MAC
												Address</label>
											<div class="col-md-9">
												<div class="row">
													<div class="col-md-4 ">
														<input type="input" id="mac" class="form-control"
															ng-model="user.macaddress" ng-readonly="it">
													</div>
												</div>

											</div>
										</div>
										<div class="form-group">
											<label for="ComputerType" class="col-md-2  control-label">Monitor</label>
											<div class="col-md-9 ">
												<div class="row">
													<div class="col-md-3 ">
														<input type="text" class="form-control marginB15"
															placeholder="Brand" ng-model="user.monitorbrand"
															ng-readonly="it">
													</div>
													<div class="col-md-3 ">
														<input type="text" class="form-control marginB15"
															placeholder="Model" ng-model="user.monitormodel"
															ng-readonly="it">
													</div>
													<div class="col-md-3 ">
														<input type="text" class="form-control marginB15"
															placeholder="Size" ng-model="user.monitorsize"
															ng-readonly="it">
													</div>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label for="emailid" class="col-md-2  control-label">Email
												ID</label>
											<div class="col-md-9 ">
												<div class="row">
													<div class="col-md-3 ">
														<input type="text" class="form-control marginB15"
															placeholder="Personal Email" ng-model="user.emailid1"
															ng-readonly="it">
													</div>
													<div class="col-md-3 ">
														<input type="text" class="form-control marginB15"
															placeholder="Office Email" ng-model="user.emailid2"
															ng-readonly="it">
													</div>
													<div class="col-md-3 ">
														<input type="text" class="form-control marginB15"
															placeholder="Group Email" ng-model="user.emailid3"
															ng-readonly="it">
													</div>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label for="ComputerType" class="col-md-2  control-label">Keyboard</label>
											<div class="col-md-9 ">
												<div class="row">
													<div class="col-md-3 ">
														<select class="form-control marginB15" id="Status"
															ng-model="user.keyboardtype" ng-disabled="it">
															<option ng-selected="selected">Wireless</option>
															<option>Wired</option>
														</select>
													</div>
													<div class="col-md-3 ">
														<input type="text" class="form-control marginB15"
															placeholder="Brand" ng-model="user.keyboardbrand"
															ng-readonly="it">
													</div>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label for="ComputerType" class="col-md-2  control-label">Mouse</label>
											<div class="col-md-9 ">
												<div class="row">
													<div class="col-md-3 ">
														<select class="form-control marginB15" id="Status"
															ng-model="user.mousetype" ng-disabled="it">
															<option ng-selected="selected">Wired</option>
															<option>Wireless</option>

														</select>
													</div>
													<div class="col-md-3 ">
														<input type="text" class="form-control marginB15"
															placeholder="Brand" ng-model="user.mousebrand"
															ng-readonly="it">
													</div>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label for="ComputerType" class="col-md-2  control-label">External
												Storage</label>
											<div class="col-md-9 ">
												<div class="row">
													<div class="col-md-3 ">
														<input type="text" class="form-control marginB15"
															placeholder="" ng-model="user.exstorage1"
															ng-readonly="it">
													</div>
													<div class="col-md-3 ">
														<input type="text" class="form-control marginB15"
															placeholder="" ng-model="user.exstorage2"
															ng-readonly="it">
													</div>
												</div>
											</div>
										</div>


										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label for="notes" class="col-md-2 control-label">Notes</label>
													<div class="col-md-9">
														<textarea class="col-md-12 form-control  col-xs-12"
															cols="20" id="notes" name="notes" rows="5"
															ng-model="user.notesit" ng-readonly="it"></textarea>
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-9 col-sm-6 col-xs-12 col-md-offset-2">
														<button type="button" class="btn btn-primary" ng-hide="it"
															ng-click="createUser('itsave')">Save</button>
														<button type="submit" class="btn btn-primary" ng-hide="it"
															ng-click="createUser('close')">Close</button>
													</div>
												</div>
											</div>
										</div>
									</form>

								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<script type='text/javascript'>
	$(".mytabs").tabs();
</script>