<style>
#pageheading
{
	font-size: 25px;
	font-weight: 300;
	color: #000000;
	text-align: center;
	margin: 0px 0px;
	padding: 0px 0px;
}
div {
	   /*color:#666666;*/
	   font-family:Geneva, Arial, Helvetica, sans-serif;
	   
	}
/*.container
		{
			margin-left:30px;
			width:100%;
		}*/

      .asdok 
		{
			  position: relative;
			  padding-top: 25px;
			  background-color:#ffffff;
			  color:#333333;
		}
		.asdok.positioned 
		{
			  position: absolute;
			  width:100%;
			  box-shadow: 0 0 15px #333;
		}
		.container1 
		{
			  overflow-y: auto;
			  height: 370px;
		}
		.table 
		{
			 border-spacing: 0; border-width: 0; padding: 0; border-width: 0;
		}
		.table td + .table td 
		{
			  border-left:1px solid #eee;
			  text-align:left;
		}
		.table td, .table th 
		{
			  border-bottom:1px solid #eee;
			  color: #000;
			  width:0%;
		}
		.table th span
		{
			  position: absolute;
			  background: transparent;
			  color: #333333;
			  top: 0;
		}
		.table th:first-child div
		{
			  border: none;
		}
</style>
					
	   <div ng-controller="PaymentTermController" ng-init="loadAllPaymentTermGroups();"> 					

<div class="row">
    
    <div class="col-xs-12 col-md-12">
        <div class="well with-header with-footer">
            <div class="header bordered-blue" id="pageheading">
     			Payment Terms Master 
            </div>
               <form name="PaymentTermForm" novalidate ng-submit="PaymentTermFormSubmit(PaymentTermForm);" enctype="multipart/form-data">
                   
                  <div class="table-responsive">
        
									<section class="asdok">
										<div class="container1" ng-init="currentPage = 1; itemsPerPage = 10;">	
				  <table class="table table-striped table-hover table-vmiddle" style=" width: 100%; border-collapse: collapse;">
											<thead class="">
						<tr>
						<th><span>Item No.</span></th>
						  <th><span style="text-align: center;">Payment Term Code</span></th>
							<th><span style="text-align: center;">Payment Term Name</span></th>
							
                          
							
						</tr>
					</thead>
                                       
                    <tbody>
                                             <tr ng-repeat="addPaymentTerm in filteredItems =items ">
                                                 <td style="padding: 20px 5px 0px 5px; text-align: center;">{{addPaymentTerm.apid}}</td>
                                                 <td style="padding: 20px 5px 0px 5px;"><div class="form-group floating-label-wrapper" ng-class="{ 'has-error' : PaymentTermForm.paymenttermcode{{$index}}.$invalid && (PaymentTermForm.paymenttermcode{{$index}}.$dirty || submitted)}">
                                                    <!--<label for="IndustryCode"></label>-->
                                                    <span class="input-icon icon-right">
                                                        <input type="text" class="form-control" id="PaymentCode" placeholder="" name="paymenttermcode{{$index}}" ng-model="addPaymentTerm.paymenttermcode" ng-required="true" with-floating-label readonly>
                                                        <i class="glyphicon glyphicon-user circular"></i>
                                                    </span>
                                                    <p ng-show="PaymentTermForm.paymenttermcode{{$index}}.$error.required && (PaymentTermForm.paymenttermcode{{$index}}.$dirty || submitted)" class="help-block"> You can't leave this empty</p>
                                                </div></td>	
                        <td style="padding: 20px 5px 0px 5px;"><div class="form-group floating-label-wrapper" ng-class="{ 'has-error' : PaymentTermForm.paymenttewrmdescription{{$index}}.$invalid && (PaymentTermForm.paymenttewrmdescription{{$index}}.$dirty || submitted)}">
                                                    <!--<label for="IndustryName"></label>-->
                                                    <span class="input-icon icon-right">
                                                        <input type="text" class="form-control" id="PaymentName" placeholder="" name="paymenttewrmdescription{{$index}}" ng-model="addPaymentTerm.paymenttewrmdescription" ng-required="true" with-floating-label>
                                                        <i class="glyphicon glyphicon-user circular"></i>
                                                    </span>
                                                    <p ng-show="PaymentTermForm.paymenttewrmdescription{{$index}}.$error.required && (PaymentTermForm.paymenttewrmdescription{{$index}}.$dirty || submitted)" class="help-block"> You can't leave this empty</p>
                                                </div></td>
                      						 </tr>
                                        </tbody>
					
				</table>
			</div></section>
            <pagination total-items="totalItems" ng-model="currentPage" max-size="itemsPerPage" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination></div>
                             
                              <br />
                <h>Page: {{currentPage}} / {{numPages}}</h>
                        
				    
			        <br/>
					
					<div align="center">
						<button type="submit" class="btn btn-blue"><i class="glyphicon glyphicon-save"></i>Save</button>
						<!--<button type="reset" class="btn btn-blue" ng-click="resetPaymentTerms(PaymentTermForm)">Reset</button>-->
						
					</div>
						
				
               </form>
          
        </div>
    </div>
</div>
</div>