
					<style>
					body
					{
					background-color:#FFFFFF;
					}
					</style>
								 	 <div class="row">
     								 <div class="col-lg-12 col-sm-12 col-xs-12">
                						<div class="row">
                    						<div class="col-lg-12 col-sm-12 col-xs-12">
                        						<div class="widget flat radius-bordered">
                              					<h3 style="font-weight:bold;">Project Progress</h3>
 												<hr>
                            					<div class="widget-body">
                                					<div id="registration-form"> 
                                    					<form role="form">
														<br /><br />
                                        					<div class="row">
                                            					<div class="col-sm-6">
												                  <div class="row">
													               <div class="col-sm-12">
                                                		             <div class="form-group">
                                                       <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Project Code" /><i class="glyphicon glyphicon-user circular"></i></span>
                                                      </div>  
                                                    </div>
                                                </div>
												
												<div class="row">
													<div class="col-sm-12">
                                               			 <div class="form-group">
                                                     <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Client" /><i class="glyphicon glyphicon-user circular"></i></span>
                                                        
                                                    </div>
                                                </div>	
                                            </div>
											<div class="row">
													<div class="col-sm-12">
                                               			 <div class="form-group">
                                                     <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Revision Number" /><i class="glyphicon glyphicon-user circular"></i></span>
                                                        
                                                    </div>
                                                </div>	
                                            </div>
										</div>
											<div class="col-sm-6">
												<div class="row">
													 <div class="col-sm-12">
                                                		<div class="form-group">
                                                       <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Order"  /><i class="glyphicon glyphicon-user circular"></i></span>
                                                      </div>  
                                                    </div>
                                                </div>
												
												<div class="row">
											       <div class="col-sm-12">
                                                         <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Project Name" /><i class="glyphicon glyphicon-user circular"></i></span>
							                         </div>
                                                  </div>	
									           </div>
											  </div>
											  <br />
											 <div style="text-align:center;">
                                    <button class="btn btn-blue" ng-click="ok()">Save</button>
                                    <button class="btn btn-blue" ng-click="cancel()">Cancel</button>
                               </div>
							  <br /><br />
										</form>
                                	</div>
                            	</div>
                        	</div>
                    	</div>
                    </div>
            	</div>
			</div>
  			
		<table class="table table-hover table-striped table-bordered">
					<thead class="bordered-blue"> 
							   <tr>
							<th>Week Number</th>
							
							<th colspan="">41</th>
							<th colspan="">42</th>
							<th colspan="">43</th>
							<th colspan="">44</th>
							<th colspan="">45</th>
							<th colspan="">46</th>
							<th colspan="">47</th>
							<th colspan="">48</th>
							<th colspan="">49</th>
							<th colspan="">50</th>
							</tr>
							
							<tr>
							
						</tr>
						</thead>
					
						<tr>
							<td>Order Confirmation from Client</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
							<tr><td>Contract Review</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
							<tr><td>Kick Off Meating</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
							<tr><td>Document submission</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
							<tr><td>Approval from client</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
							<tr><td>Create Project Progress Report</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
							<tr><td>Product Schedule</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
							<tr><td>Others Supplier delivery</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
							<tr><td>Final Assembly</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
							<tr><td>Quantity and Quality Check</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
							<tr><td>Packing</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
							<tr><td>Shipment</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
							<tr><td>Customer Satisfactionr Survey</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
							<tr><td>Project Closure</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
							
						</tr>
						</table>
							   
							   
							   
							   
							   
							   
							  