
 
      <div class="mycontainer" ng-controller="PassController">		
	  
					<toaster-container
		toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
					<div class="row">
						  <div class="col-xs-12">
							<div class="page-header-section clearfix">
							<div class="pull-left">
								<ol class="breadcrumb-new">
									<li><a href="#">Dashboard</a><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></li>
									<li><a href="#">Setting</a><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></li>
									<li><a href="#">User Management</a><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></li>
									<li class="active"><span>Change Password</span></li>
								</ol>
								<h1>Change Password</h1>
							</div>
							<div class="pull-right">


							</div>	
							</div>
						 </div>
					</div>

					<div class="row center-block">
					  <div class="col-md-12">
					    <div class="panel-box">
						<div class="panel">
						  <div class="panel-heading">
							<span class="panel-title">Change Password</span>
						  </div>
						 <div class="attach-box clearfix">
							<div class="pull-left ">
								<div>Use the form below to change your password.</div>
                         		</div>												
						</div>
						  <div class="panel-body">
						  <form class="form-horizontal" role="form">
						  
						  <div class="row">
							<div class="col-md-12">
								<div class="msg-error space-bottom" ng-show="error">
									{{error}}
								</div>
							</div>
						  </div>
						  
						    <div class="row">						  	
						       <div class="col-md-6">														  
									  <div class="form-group">
										<label for="OldPassword" class="col-md-4 control-label">Old Password</label>
										<div class="col-md-7">										  
											<input type="password" id="OldPassword" class="form-control" ng-model="user.oldpass">										  
										</div>
									  </div>
                                      <div class="form-group">
										<label for="NewPassword" class="col-md-4 control-label">New Password</label>
										<div class="col-md-7">										  
											<input type="password" id="NewPassword" class="form-control" ng-model="user.newpass">										  
										</div>
									  </div>
										
									  <div class="form-group">
										<label for="ConfirmPassword" class="col-md-4 control-label">Confirm Password</label>
										<div class="col-md-7">										  
											<input type="password" id="ConfirmPassword" class="form-control" ng-model="newpass">										  
										</div>
									  </div>

					<!--<div class="msg-error" ng-show="error">
						      {{error}}
					</div>-->
                                     								  
							   </div>							   
							   							   						   							   
							</div>

							<div class="row">
								<div class="col-md-6">								  																		  									 
                                      <div class="form-group">
                                            <div class="col-md-9 col-sm-6 col-xs-12 col-md-offset-4"> 
                                                <button type="submit" class="btn btn-primary" ng-click="resetpass()">Change Password</button>											
												
                                            </div>
                                      </div>									  
								</div>
							</div>														
							</form>
						  </div>
						</div>
					   </div>
                       </div>
					  
					</div>
                    </div>					
				