      <div class="mycontainer">				
					<div class="row">
						  <div class="col-xs-12">
							<div class="page-header-section clearfix">
							<div class="pull-left">
								<ol class="breadcrumb-new">
									<li><a href="#">Dashboard</a><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></li>
									<li class="active"><span>Change Password</span></li>
								</ol>
								<h1>Change Password</h1>
							</div>
							<div class="pull-right">


							</div>	
							</div>
						 </div>
					</div>

					<div class="row center-block">
					  <div class="col-md-12">
					    <div class="panel-box">
						<div class="panel">
						  <div class="panel-heading">
							<span class="panel-title">Change Password</span>
						  </div>
						 <div class="attach-box clearfix">
							<div class="pull-left ">
								<div>Use the form below to change your password.</div>
                                <div><strong>Please Note</strong>: "Security Question" is required when user forgot their password and reset to be done as requested, so please fill it.</div>									
							</div>												
						</div>
						  <div class="panel-body">
						  <form class="form-horizontal" role="form">
						    <div class="row">						  	
						       <div class="col-md-6">														  
									  <div class="form-group">
										<label for="OldPassword" class="col-md-4 control-label">Old Password</label>
										<div class="col-md-7">										  
											<input type="password" id="OldPassword" class="form-control">										  
										</div>
									  </div>
                                      <div class="form-group">
										<label for="NewPassword" class="col-md-4 control-label">New Password</label>
										<div class="col-md-7">										  
											<input type="password" id="NewPassword" class="form-control">										  
										</div>
									  </div>
										
									  <div class="form-group">
										<label for="ConfirmPassword" class="col-md-4 control-label">Confirm Password</label>
										<div class="col-md-7">										  
											<input type="password" id="ConfirmPassword" class="form-control" >										  
										</div>
									  </div>


                                     <div class="form-group">
										<label class=" col-md-4 control-label">
											<span class="p-R5">*Security Question</span>
										</label>
										<div class="col-md-7">
										   <span class="input-icon icon-right">
											  <input type="text" id="SecurityQuestion" class="form-control" placeholder="Enter your question...">
											  <i class="glyphicon glyphicon-question-sign"></i>
										   </span>										    
										   <div class="small-text">Ex: pet's name (or) Mother's maiden name (or) Home Town name (or) Favourite Elementary School name</div>									  
										</div>
									</div>

                                    <div class="form-group">
										<label for="Answer" class="col-md-4 control-label">Security Answer</label>
										<div class="col-md-7">										  
											<input type="password" id="Answer" class="form-control" >										  
										</div>
									  </div>									
                                     								  
							   </div>							   
							   							   						   							   
							</div>

							<div class="row">
								<div class="col-md-6">								  																		  									 
                                      <div class="form-group">
                                            <div class="col-md-9 col-sm-6 col-xs-12 col-md-offset-4"> 
                                                <button type="submit" class="btn btn-primary">Change Password</button>											
												<button type="submit" class="btn">Cancel</button>
                                            </div>
                                      </div>									  
								</div>
							</div>														
							</form>
						  </div>
						</div>
					   </div>
                       </div>
					  
					</div>
                    </div>					
				