
<div class="mycontainer" ng-controller="RoleController as vm">

<toaster-container
		toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>

	    <div class="row">
        <div class="col-xs-12">
            <div class="page-header-section clearfix">
                <div class="pull-left">
                    <ol class="breadcrumb-new">
                        <li><a href="#">Dashboard</a><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></li>
                        <li><a href="#">Settings</a><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></li>
						<li><a href="#">User Management</a><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></li>
                        <li class="active"><span>Role Portfolio</span></li>
                    </ol>
                    <h1>Role Portfolio</h1>
                </div>
                <div class="pull-right">


                </div>
            </div>
        </div>
    </div>
	
	<div class="row center-block">
		<div class="col-md-12">
			<div class="panel-box">
				<div class="panel">
					<div class="panel-heading">
						<span class="panel-title">Role Portfolio</span> 
						
					</div>

					<div class="panel-body" ng-readonly='read'>
					<div > <span class="panel-title">Role Id : {{role.roleid}}</span> 
						<span class="panel-title">Role Name : {{role.rolename}}</span> </div>
						<div class="custom-tabs">							
							<ul ng-init="vm.tab=1" class="custom-tabs-nav">
								<li ng-repeat="item in role.templates" ng-init="vm.tab=$first" ng-class="{active: vm.tab === item.accessname}"><a ng-click="vm.tab = item.accessname">{{item.accessname}}</a></li>
							</ul>

							<div ng-repeat="item in role.templates"
								ng-show="vm.tab === item.accessname">
								
								<div class="inner-container" >
									<div class="tr-row txt-uppercase">
										<div
											class="col-xs-2 col-xs-offset-4 col-lg-1 col-lg-offset-6 pL0">
											Write</div>
										<div class="col-xs-2 col-lg-1 pL0">Read</div>
										<div class="col-xs-2 col-lg-1 pL0">Delete</div>
										<div class="col-xs-2 col-lg-1 pL0">Edit</div>
									</div>
									<div>
										<div ng-repeat="menu in item.menulist">
											<div class="tr-row">
												<div class="col-xs-12 headline-row">
													<p>{{menu.menuname}}</p>
												</div>
											</div>
											<div class="tr-row" ng-repeat="submenu in menu.submenulist">
												<div class="col-xs-4 col-lg-6">
													<p class="role-title">{{submenu.name}}</p>
												</div>
												<div class="col-xs-2 col-lg-1">
													<input type="checkbox" ng-model="submenu.writeaccess" ng-disabled='read'>
												</div>
												<div class="col-xs-2 col-lg-1">
													<input type="checkbox" ng-model="submenu.readaccess" ng-disabled='read'>
												</div>
												<div class="col-xs-2 col-lg-1">
													<input type="checkbox" ng-model="submenu.deleteaccess" ng-disabled='read'>
												</div>
												<div class="col-xs-2 col-lg-1">
													<input type="checkbox" ng-model="submenu.editaccess" ng-disabled='read'>
												</div>
											</div>
										</div>


									</div>



								</div>

							</div>
						
						</div>
					</div>


				</div>
			</div>
		</div>
			<div class="col-xs-12" ng-hide='read'>
					<div class="align-center">									
						  <button type="button" class="btn btn-primary" ng-click="saverole()">Save</button>
				    </div>
			</div>

	</div>
</div>

<script type='text/javascript'>
	//$(function() {
//	$(".mytabs").tabs();
	// $(".mytabs").tabs("refresh");
	//  });
</script>