
  <style>
 #specifications
 {
  border: 0px none; 
  border-bottom: 1px solid black;
}
  </style>
<div class="horizontal-space"></div>
<br />
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="well with-header with-footer">
            <div class="header bordered-blue">
             Sales Enquiry
            </div>
			<div class="row">
				<div class="col-sm-6">
					<select class="form-control">
						<option value="">Sales Man</option>
					</select>
				</div>
				<div class="col-sm-6">
						<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Inquiry ID" value="SI0216001"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-sm-5">
					
											<div class="radio"> 
												<label>
													Customer Requirement <input name="form-field-radio7" type="radio" class="colored-blue" checked="checked">
													<span class="text"> Full Unit</span>
												</label>
												&nbsp;&nbsp;
												<label>
													<input name="form-field-radio7" type="radio" class="colored-blue">
													<span class="text"> Spare Parts</span>
												</label>
												&nbsp;&nbsp;
												<label>
													<input name="form-field-radio7" type="radio" class="colored-blue">
													<span class="text">Projects</span>
												</label>
												 &nbsp;&nbsp;
											</div>
                        				
				</div>
				<div class="col-sm-5">
				<div class="form-group">                                
                 	<div class="checkbox">
                                   
									<label> Inquiry For  &nbsp; &nbsp; 
                                        <input type="checkbox" class="colored-blue" checked="checked">
                                        <span class="text">Price</span>
                                    </label>
									&nbsp;&nbsp;
									<label>
                                        <input type="checkbox" class="colored-blue">
                                        <span class="text">Special Price</span>
                                    </label>
									&nbsp;&nbsp;
									<label>
                                        <input type="checkbox" class="colored-blue">
                                        <span class="text">Special Delivery</span>
                                    </label>
									&nbsp;&nbsp;
									
								
                                </div>

				 
                </div></div>
			</div>
			
			<div class="row">
				<div class="col-sm-5">
					
											<div class="radio"> 
												<label>
													Sales Type of Enquiry &nbsp;&nbsp; <input name="form-field-radio17" type="radio" class="colored-blue" checked="checked">
													<span class="text"> New Unit</span>
												</label>
												&nbsp;&nbsp;
												<label>
													<input name="form-field-radio17" type="radio" class="colored-blue">
													<span class="text"> Replacement</span>
												</label>
												&nbsp;&nbsp;
												
											</div>
                        				
				</div>
				<div class="col-sm-4">
					<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" placeholder=" Inquiry Date"  /><i class="fa fa-calendar"></i>
                                                    </span>
                                            </div>
				</div>
				<div class="col-sm-3">
						<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Date of Completion"  /><i class="fa fa-calendar"></i>
                                                    </span>
                                            </div>
				</div>
			</div>
			<div class="row">
				
				
			</div>
			<br />
			<div class="row">
				
				
				<div class="col-sm-4">
						<div class="form-group">                                
                 	<select class="form-control">
						<option value="">Customer</option>
						
												
					</select>
                                            </div>
					
				</div>
				<div class="col-sm-4">
						<div class="form-group">                                
                 	<select class="form-control">
						<option value="">Group</option>
						
												
					</select>
                                            </div>
					
				</div>
				<div class="col-sm-4">
						<div class="form-group">                                
                 	<select class="form-control">
						<option value="">Country</option>
						
												
					</select>
                                            </div>
					
				</div>
				
				
			</div>
			<br />
			<div class="row">
				
				<div class="col-sm-6">
				
						<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Industry"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div>
				</div>
				<div class="col-sm-6">
				
						<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Application"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div>
				</div>
				</div>
				<br />
				
				<div class="row">
				<div class="col-sm-4">
				<select class="form-control">
						<option value="">Product</option>
					</select>
				</div>
				<div class="col-sm-4">
				
						<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Model"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div>
				</div>
				<div class="col-sm-4">
						<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Quantity"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div>
				</div>
				
			</div>
			<br />
			
			<div class="row">
				
				<div class="col-sm-4">
					<select class="form-control">
						<option value="">Competitor Name</option>
					</select>
				</div>
				<div class="col-sm-4">
						<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Model"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div>
				</div>
				<div class="col-sm-4">
						<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Price"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div>
				</div>
			</div>
			
			<br />
		
			  <hr />
			<h5 class="row-title before-blue" style="margin-left:-16px;"><i class="fa fa-edit blue"></i>Specification</h5>
									<br />
									 <span style="font-size:14px; color:#333333; font-weight:bold; text-decoration:underline;">Motor :-</span>
									<br /><br />
									 
			<div class="row">
				<div class="col-sm-2">
						<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" id="specifications" placeholder="Kw"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div>
				</div>
				<div class="col-sm-2">	<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" id="specifications"  placeholder="Pole"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div></div>
					<div class="col-sm-2">	<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" id="specifications"  placeholder="Phase"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div></div>
					<div class="col-sm-2">	<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" id="specifications"  placeholder="V"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div></div>
					<div class="col-sm-2">	<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" id="specifications"  placeholder="Hz"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div></div>
					<div class="col-sm-2">	<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" id="specifications"  placeholder="RPM"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div></div>						
				
			</div>
			
			<div class="row">
				<div class="col-sm-4">
						<div class="form-group">                                
                  <select class="form-control">
						<option value="">Accessories</option>
						<option value="AF Motor">AF Motor</option>
						<option value="AF Motor">Thermo Stat</option>
						<option value="AF Motor">Themistor</option>
						<option value="AF Motor">Encoder</option>
						<option value="AF Motor">Explosion Proof CG3 Brake</option>
						<option value="AF Motor">Explosion Proof d2g4 </option>
						<option value="AF Motor">Protection grade</option>
						
												
					</select>
                                            </div>
				</div>
				<div class="col-sm-4">
					
					<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Breake Torque"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div>	</div>
				<div class="col-sm-4">
					
					<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="IP"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div>	</div>
				
				
			</div>
			<hr />
			<h5 class="row-title before-blue" style="margin-left:-16px;"><i class="fa fa-edit blue"></i>Gear Box</h5>
			
			
			<div class="row">
			<br />
				<div class="col-sm-4">
					<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Output Shaft Direction"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div>
					
				</div>
				<div class="col-sm-4">
					<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Mounting Method"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div>
					
				</div>
				<div class="col-sm-4">
					<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Input Shaft Connection"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div>
					
				</div>
			</div>
			
			<div class="row">
			
				<div class="col-sm-4">
					<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Shaft Arrangement"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div>
					
				</div>
				<div class="col-sm-4">
					<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Normal Output Torque N-M"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div>
					
				</div>
				<div class="col-sm-4">
					<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Peak Output Torque N-M"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div>
					
				</div>
			</div>
			
			<div class="row">
			
				<div class="col-sm-4">
					<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Radial Loan on SSS"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div>
					
				</div>
				<div class="col-sm-4">
					<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Thrut Load on SSS"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div>
					
				</div>
				<div class="col-sm-4">
					
						<div class="form-group">                                
                  <select class="form-control">
						<option value="">Accesories</option>
						<option value="">Sight Oil Guage</option>
						<option value="AF Motor">Reamer Bolts Or  Dowel Pin</option>
						</select>
                                            </div>
				</div>
				
				
					
				</div>
				<hr />
				
				<h5 class="row-title before-blue" style="margin-left:-16px;"><i class="fa fa-edit blue"></i>Ambient Conditions</h5>
				<div class="row">
					<div class="col-sm-7">
						<div class="form-group">                                
                 	<div class="checkbox">
                                   
									<label>
                                        <input type="checkbox" class="colored-blue" checked="checked">
                                        <span class="text">Outdoor Proof</span>
                                    </label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<label>
                                        <input type="checkbox" class="colored-blue">
                                        <span class="text">Dust Proof Light Or  Heavy</span>
                                    </label>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<label>
                                        <input type="checkbox" class="colored-blue">
                                        <span class="text">Corrosion Proof  Class1/Class2</span>
                                    </label>
									&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>

				 
                </div>
					</div>
					<div class="col-sm-3">
					<div class="control-group">
											<div class="radio"> 
												<label> Paint
												  <input name="form-field-radio5" type="radio" class="colored-blue" checked="checked">
													<span class="text">Export</span>
												</label>
												
												<label>
													<input name="form-field-radio5" type="radio" class="colored-blue">
													<span class="text"> Others</span>
												</label>
												
												 
											</div>
                        				</div>
				</div>
				</div>
				
				<div class="row">
			<br />
								<div class="col-sm-4">
					<div class="control-group">
											<div class="radio"> 
												<label> Packing
												  <input name="form-field-radio15" type="radio" class="colored-blue" checked="checked">
													<span class="text">Export Pack</span>
												</label>
												
												<label>
													<input name="form-field-radio15" type="radio" class="colored-blue">
													<span class="text"> Others</span>
												</label>
												
												 
											</div>
                        				</div>
				</div>
				
				<div class="col-sm-4">
					<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Ambient Temparature in (Centigrade Degrees)"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div>
				
				
				
					
				</div>
			</div>
			
			      	<hr />
				<h5 class="row-title before-blue" style="margin-left:-16px;"><i class="fa fa-edit blue"></i>Special Price</h5>
				
				<div class="row">
			<br />
				 
					<div class="col-sm-4">
					<div class="control-group">
											<div class="radio"> 
												<label>
													Do You Know Customer <input name="form-field-radio3" type="radio" class="colored-blue" checked="checked">
													<span class="text"> Yes</span>
												</label>
												&nbsp;&nbsp;
												<label>
													<input name="form-field-radio3" type="radio" class="colored-blue">
													<span class="text"> No</span>
												</label>
												 
											</div>
                        				</div>
				</div>
					
				 
				<div class="col-sm-4">
					<select class="form-control">
						<option value="">Probability to get order</option>
						<option value="">80%</option>
						<option value="">60%</option>
						<option value="">40%</option>
						
					</select>
					
				</div>
				<div class="col-sm-4">
					<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Estimate Contract Date"  /><i class="fa fa-calendar"></i>
                                                    </span>
                                            </div>
					
				</div>
				<div class="col-sm-6">
					<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Quoted Price"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div>
				
				
				
					
				</div>
				<div class="col-sm-6">
					<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Requested Special Price"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div>
				
				
				
					
				</div>
				
			</div>
				<hr />
				<h5 class="row-title before-blue" style="margin-left:-16px;"><i class="fa fa-edit blue"></i>Special Delivery</h5>
				
				<div class="row">
			<br />
				<div class="col-sm-6">
					<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Expecting Delivery"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div>
					
				</div>
				<div class="col-sm-6">
					<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Requested Delivery Period"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div>
				
				
				
					
				</div>
				
				
			</div>
			<br />
			<div align="center">
				<button class="btn btn-blue"  >Save</button>
				<button class="btn btn-blue"  >Cancel</button>
			</div>
		</div>
	</div>
</div>
		


	
	
	







