
<div class="mycontainer" ng-controller="ITUserController"
	data-ng-init="getusers()">






	<table border="1">
		<tr>
			<th>Request ID</th>
			<th>Employee Id</th>
			<th>First name</th>

			<th>Last name</th>

			<th>Assigned To</th>
			<th>Email</th>
			<!-- <th>Created date</th> -->
			<th>Status</th>
			<th>Options</th>


		</tr>
		<tr ng-repeat="user in users">
			<td>{{user.requestid}}</td>
			<td>{{user.user.employeeid}}</td>
			<td>{{user.firstname}}</td>

			<td>{{user.lastname}}</td>
           
			<td>{{user.assignedto}}</td>
			<td>{{user.emailid}}</td> <!-- <td>not yet</td> -->
			<td>{{user.status}}</td>
			<td>
			
			<a href="#" class="option-link" title="View" ng-click="openreaduser(user)">
							<span class="option-box">	
							    <i class="glyphicon glyphicon-eye-open"></i>							    
							</span>
						</a>
						
						<a href="#" class="option-link" title="Edit" ng-hide="user.status=='Closed'"  ng-click="openedituser(user)">
							<span class="option-box">	
							    <i class="glyphicon glyphicon-edit"></i>							    
							</span>
						</a>
		
				<!-- <a> delete </a> --></td>

		</tr>
	</table>
</div>

