<div class="mycontainer" ng-controller="RoleController"
	data-ng-init="searchaccess()">


	<div class="row">
		<div class="col-xs-12">
			<div class="page-header-section clearfix">
				<div class="pull-left">
			        <ol class="breadcrumb-new">
						<li><a href="#">Dashboard</a><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></li>
						<li><a href="#">Settings</a><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></li>
						<li><a href="#">User Management</a><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></li>
						<li class="active"><span>Search Roles</span></li>
					</ol>
					<h1>Search Roles</h1>
				</div>

				<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right custom-search" ng-show="srole.readaccess">
					<div class="input-group col-md-12">
						<div class="input-group-addon">
							<i class="fa fa-search"></i>
						</div>
						<input type="text" class="form-control custom-search-input pull-left" placeholder="Search" ng-model="searchFish" >
					</div>
				</div>

			</div>
		</div>
	</div>

	<div ng-show="srole.readaccess"> 
	<div class="row center-block">
		<div class="col-md-12">
			<div class="panel-box">
				<div class="panel">
					<div class="panel-heading">
						<span class="panel-title">Search Roles</span>
					
					</div>

					<div class="panel-body">
						<table id="requestList" class="display nowrap" cellspacing="0"
							width="100%">

							<tr>
								<th><a href="#"
									ng-click="sortType = 'roleid'; sortReverse = !sortReverse">
										Role ID <span
										ng-show="sortType == 'roleid' && !sortReverse"
										class="fa fa-caret-down"></span> <span
										ng-show="sortType == 'roleid' && sortReverse"
										class="fa fa-caret-up"></span>
								</a></th>
								<th><a href="#"
									ng-click="sortType = 'rolename'; sortReverse = !sortReverse">
										Title <span
										ng-show="sortType == 'rolename' && !sortReverse"
										class="fa fa-caret-down"></span> <span
										ng-show="sortType == 'rolename' && sortReverse"
										class="fa fa-caret-up"></span>
								</a></th>
								
								<th>Options</th>


							</tr>
							<tr ng-repeat="role in roles  | orderBy:sortType:sortReverse | filter:searchFish">
								<td>{{role.roleid}}</td>
								<td>{{role.rolename}}</td>
							
								
								<td><a  href="javascript:void(0)" class="option-link" title="View"
									ng-click="openreadrole(role)"> <span class="option-box">
											<i class="glyphicon glyphicon-eye-open"></i>
									</span>
								</a> <a  href="javascript:void(0)" class="option-link" title="Edit"
									ng-hide="!(srole.editaccess) || (user.status=='Closed' || user.status=='Completed')"
									ng-click="openeditrole(role)"> <span class="option-box">
											<i class="glyphicon glyphicon-edit"></i>
									</span>
								</a> <!-- <a> delete </a> --></td>

							</tr>
						</table>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>


		
		
<div ng-hide="srole.readaccess">
	<div class="row center-block">
		<div class="col-md-12">
			<div class="panel-box">
				<div class="panel">
					<div class="panel-heading">
						<span class="panel-title">Search Roles</span>
					</div>

					<div class="panel-body">
						<div class="msg msg-info">
							<span class="glyphicon glyphicon-info-sign"></span>
							You don't have access to this page. Please contact your Admin.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

			
		
</div>
<!-- 
<script type='text/javascript'>
        $(document).ready(function() {
		$('#requestList').DataTable( {        
        } );
</script> -->