  <div ng-controller="ModalDemoCtrl">
                            <script type="text/ng-template" id="myModalContent.html">
							<div class="modal-body">
                                 <h3 style="font-weight:bold;">Summitomo</h3>
								 <hr>
								 
								 
								 <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
               
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="widget flat radius-bordered">
                           
                            <div class="widget-body">
                                <div id="registration-form">
                                    <form role="form">
                                        <div class="row">
                                            
											<div class="col-sm-6">
                                                <div class="form-group">
                                                     <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Office Code" /><i class="glyphicon glyphicon-user circular"></i></span>
                                                        
                                                    </div>
													<div class="form-group">
                                                     <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="City" /><i class="glyphicon glyphicon-user circular"></i></span>
                                                        
                                                    </div>
                                                </div>
											<div class="col-sm-6">
                                                <div class="form-group">
                                                         <input type="text" class="form-control" placeholder="Description" />
                                                        
                                                    </div>
													  <div class="form-group">
                                                        <select class="form-control"><option value="">Select Country</option>
														<option value="">SMMA</option>
														<option value="">SMTH</option>
														<option value="">AUST</option>
														<option value="">SCA</option>
														<option value="">SMPH</option>
														<option value="">INDONESIA</option>
														<option value="">INDIA</option>
														<option value="">SRILANKA</option>
														<option value="">VIETNAM</option>
														
														</select>
                                                        
                                                    </div>
                                                </div>		
                                            </div>
											<div class="row">
												<div class="col-sm-6">
												<span class="input-icon inverted">
                                        <input type="text" class="form-control input-sm" placeholder="Letter Head Image">
                                        <i class="glyphicon glyphicon-search bg-blue"></i>
                                    </span>
												</div>
											</div>
											<br />
                                           <div class="row" align="center">
										   		
													 <button class="btn btn-blue" ng-click="ok();">Save</button>
													 <button class="btn btn-blue" ng-click="cancel();">Cancel</button>
												
										   </div>
									</form>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
								 
								 
								 </script>
							
							 <p align="right">
						   <br />
						    <button class="btn btn-blue" ng-click="open('','myModalContent.html', 'lg')">Add Summitomo</button>
						   </p>
							</div>
  
		
		
<div class="horizontal-space"></div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="well with-header with-footer">
            <div class="header bordered-blue">
               Added Summitomo Office
            </div>
<div class="table-scrollable">
		<table class="table table-hover table-striped table-bordered">
		<thead class="bordered-blue">
		<tr>
		
		<th>Code</th>
		<th>Description</th>
		<th>City</th>
		<th>Country</th>
		
		</tr>
		</thead>
		<tbody>
		<tr>
		
		
		
		<td><div ng-controller="ModalDemoCtrl"><a href="" style="text-decoration:none;" ng-click="open('','myModalContent.html', 'lg')">1</a></div></td>
		<th>Description</th>
		<th>City</th>
		<td>SMMA</td>
		
		</tr>
		<tr>
		
		<td><div ng-controller="ModalDemoCtrl"><a href="" style="text-decoration:none;" ng-click="open('','myModalContent.html', 'lg')">2</a></div></td>
		<th>Description</th>
		<th>City</th>
		<td>SMTH</td>
		
		
		
		</tr>
		<tr>
		
		<td><div ng-controller="ModalDemoCtrl"><a href="" style="text-decoration:none;" ng-click="open('','myModalContent.html', 'lg')">3</a></div></td>
		<th>Description</th>
		<th>City</th>
		<td>AUST</td>
		
		
		</tr>
		<tr>
		
		
		
		<td><div ng-controller="ModalDemoCtrl"><a href="" style="text-decoration:none;" ng-click="open('','myModalContent.html', 'lg')">4</a></div></td>
		<th>Description</th>
		<th>City</th>
		<td>SCA</td>
		
		</tr>
		<tr>
		
		<td><div ng-controller="ModalDemoCtrl"><a href="" style="text-decoration:none;" ng-click="open('','myModalContent.html', 'lg')">5</a></div></td>
		<th>Description</th>
		<th>City</th>
		<td>SMPH</td>
		
		
	
		</tr>
		<tr>
		
		<td><div ng-controller="ModalDemoCtrl"><a href="" style="text-decoration:none;" ng-click="open('','myModalContent.html', 'lg')">6</a></div></td>
		<th>Description</th>
		<th>City</th>
		<td>INDONESIA</td>
		
		
		
		</tr>
		<tr>
		
		<td><div ng-controller="ModalDemoCtrl"><a href="" style="text-decoration:none;" ng-click="open('','myModalContent.html', 'lg')">7</a></div></td>
		<th>Description</th>
		<th>City</th>
		<td>INDIA</td>
		
		
		
		</tr>
		<tr>
		
		<td><div ng-controller="ModalDemoCtrl"><a href="" style="text-decoration:none;" ng-click="open('','myModalContent.html', 'lg')">8</a></div></td>
		<th>Description</th>
		<th>City</th>
		<td>SRILANKA</td>
		
		
	
		</tr>
		<tr>
		<td><div ng-controller="ModalDemoCtrl"><a href="" style="text-decoration:none;" ng-click="open('','myModalContent.html', 'lg')">9</a></div></td>
		<th>Description</th>
		<th>City</th>
		<td>VIETNAM</td>
		
		
		
		
		</tr>
		</tbody>
		</table>
		</div>
		
					<!--<div class="footer">
						<code>class="table table-striped"</code>
					</div>-->
		</div>
	</div>
</div>
