
  <style>
  .form-control1
  {
  color: #262626;
  background-color: #ffffff;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.25);
  height:30px;
  }
  </style>
<!--<div class="horizontal-space"></div>
<br />-->
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="well with-header with-footer">
           <div class="header bordered-blue">
             Update Progess
            </div>
			<div class="row">
				<div class="col-sm-6">
					<span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Customer Name" /><i class="fa fa-user"></i>
                                                    </span>
													
													
				</div>
				<div class="col-sm-6">
						<div class="form-group">                                
                  <span class="input-icon icon-right"><input type="text" class="form-control" placeholder="Quotation No"  /><i class="fa fa-user"></i>
                                                    </span>
                                            </div>
				</div>
			</div>
			<br />
			
				               
								              
                 	<table class="table" style="border:none;">
					<tr>
					<td style="border:none;"><label>  
                                        <input type="checkbox" class="colored-blue" >
                                        <span class="text" style="float:left;">Indicator 1   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select class="form-control1" style="width:200px;"><option value"">Select</option><option value"">Select</option><option value"">Select</option></select>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" style="height:30px; width:50px;"/><b>&nbsp;&nbsp;
										%</b>  </span>
										<div style="margin-top:-15px; margin-right:-100px;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                    </label></td>
									
									
									
									
									</tr>
					<tr>
					<td style="border:none;"><label>  
                                        <input type="checkbox" class="colored-blue" >  
                                        <span class="text" style="float:left;">Indicator 2  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select class="form-control1" style="width:200px;"><option value"">Select</option><option value"">Select</option><option value"">Select</option></select>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" style="height:30px; width:50px;"/><b>&nbsp;&nbsp;
										%</b>    </span>
										<div style="margin-top:-15px; margin-right:-100px;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                    </label></td></tr>
					<td style="border:none;"><label>  
                                        <input type="checkbox" class="colored-blue">
                                        <span class="text" style="float:left;">Indicator 3   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select class="form-control1" style="width:200px;"><option value"">Select</option><option value"">Select</option><option value"">Select</option></select>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" style="height:30px; width:50px;"/><b>&nbsp;&nbsp;
										%</b>    </span>
										<div style="margin-top:-15px; margin-right:-100px;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                    </label></td></tr>
					<td style="border:none;"><label>  
                                        <input type="checkbox" class="colored-blue">
                                        <span class="text" style="float:left;">Indicator 4   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select class="form-control1" style="width:200px;"><option value"">Select</option><option value"">Select</option><option value"">Select</option></select>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" style="height:30px; width:50px;"/><b>&nbsp;&nbsp;
										%</b>    </span>
										<div style="margin-top:-15px; margin-right:-100px;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                    </label></td></tr>
									
									
					<tr>
					
					<td align="center" style="border:none;"><input type="text" class="form-control1" placeholder="Total" />
                                                 </td>
					</tr>				
									
																	
					
					</table>
          
	</div>
</div>
		


	
	
	







